[2016-11-16 14:34] AArnott opened #12 "Support for the downlevel installer on VS2010"
The wixlib offered by the [downlevel installer](https://www.nuget.org/packages/Microsoft.VisualStudio.Threading.DownlevelInstaller/) only works down to VS2012 (Dev11).

With a requirement of .NET 4.5, we should be able to port it all the way down to VS2010, which [some customers](https://gitter.im/Microsoft/extendvs?at=582c6dd0c2f2cf72751b58e5) would find useful.

[Source for the installer](https:

[2016-11-16 14:45] #12 closed, assigned to nobody

[2016-12-07 01:20] AArnott opened #21 "VSSDK009: AvoidJtfRunInNonPublicMembers should allow for private members when they are used as callbacks"
Consider that some private methods are used in callbacks, such that although they aren't declared with public visibility, they are still called by outside code that requires a specific method signature.

For this reason, VSSDK009 should be adjusted to not produce warnings when JTF.Run is used in this case.

[2016-12-07 06:07] AArnott opened #22 "VSSDK010 mis-fires for Task-returning properties"
A property like this:

[code]

Produces a compiler warning:
VSSDK010: Use "Async" suffix in names of Task-returning methods.

[2016-12-07 06:09] AArnott opened #23 "VSSDK008 should not encourage calling AsyncManualResetEvent.SetAsync"
The `AsyncManualResetEvent.SetAsync` method is (or should be) obsolete, because it is now synchronously implemented. Can we get VSSDK008 to _not_ recommend using the async version of the `Set()` method, perhaps by recognizing that the async alternative is deprecated?

[2016-12-07 16:30] AArnott opened #24 "VSSDK001 and VSSDK008 fire for some of the same issues"
The following snippet produces multiple diagnostics per line:

[code]

Ideally, each infraction should produce just one diagnostic.

[2016-12-12 18:42] #23 closed, assigned to AArnott

[2016-12-12 18:43] #22 closed, assigned to AArnott

[2016-12-12 22:53] #24 closed, assigned to AArnott

[2016-12-15 07:11] AArnott opened #29 "VSSDK008 fires when awaiting async methods"
When Foo() and FooAsync() exists, VSSDK008 creates a warning when Foo() is called from an async method, even though Foo() also returns Task and is being awaited on.

[code]

[2016-12-15 07:15] AArnott opened #30 "VSSDK009 should not fire on internal types' public methods when they implement public interfaces"

[2016-12-15 07:17] AArnott opened #31 "Reduce error list message length of VSSDK003 diagnostic"

[2016-12-15 07:18] AArnott opened #32 "VSSDK010 should not fire on interface implementations or overrides"
Focus on where the name can be changed -- not on implementations that must honor the original name.

[2016-12-15 07:26] AArnott opened #33 "VSSDK010 should belong to the Style category (not Usage)"

[2016-12-15 16:59] #21 closed, assigned to AArnott

[2016-12-18 06:28] AArnott opened #36 "VSSDK002 fires in property accessors even after calling ThrowIfNotOnUIThread"
VSSDK002 should not fire on this property getter, but it does.

[code]

[2016-12-18 23:57] AArnott opened #37 "Analyzer proposal: ensure all async code is available to all callers"
Add analyzer to verify that all functionality of a class that is exposed with JTF.Run is also available via an async method.

Sample bad cases:

[code]

Sample good cases:

[code]

## Proposed Spec

We seek to drive people to expose all their async code publicly so that the benefits of asynchrony is shared with all callers. JTF.Run represents an end to the benefits of asynchronous methods and thus

[2016-12-19 17:03] AArnott opened #38 "VSSDK002 should consider control flow when assessing that we're on the UI thread"
The following method should trigger an analyzer on the call to `SetProperty`, but it does not. The analyzer sees the `VerifyOnUIThread()` "above" the call to `SetProperty` and considers that it must have executed.

[code]

We should be able to fix this using Roslyn's `SemanticModel.AnalyzeControlFlow` method.

[2016-12-19 18:17] #29 closed, assigned to AArnott

[2016-12-19 18:17] #30 closed, assigned to AArnott

[2016-12-19 18:17] #31 closed, assigned to AArnott

[2016-12-19 18:17] #32 closed, assigned to AArnott

[2016-12-19 18:17] #33 closed, assigned to AArnott

[2016-12-19 18:17] #36 closed, assigned to AArnott

[2016-12-20 22:35] AArnott opened #39 "VSSDK008 incorrectly fires within synchronous anonymous delegates defined in Task-returning methods"
Repro found in `AsyncPackage.GetServiceAsync`, but is abstractly reproduced here:

[code]

[2016-12-21 20:56] #39 closed, assigned to AArnott

[2016-12-21 20:59] #38 closed, assigned to AArnott

[2017-01-14 01:41] AArnott opened #44 "Unstable test: TransitionToMainThreadRaisedWhenSwitchingToMainThread"
This test has been [observed to fail](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.0.200+gcb3aa2e481.R#L39)

[code]

[2017-01-14 01:42] AArnott opened #45 "Unstable test: RunAsyncWithYieldingDelegateNestedInRunOverhead"
This test has been [observed to fail](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.0.200+gcb3aa2e481.R#L57):

[code]

[2017-01-14 01:53] AArnott opened #46 "Unstable test: RunAsyncWithNonYieldingDelegateNestedInRunOverhead"
This test has been [observed to fail](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.0.201+ge3a6a79bc1.R#L61):

[code]

[2017-01-27 20:30] AArnott opened #53 "VSTHRD010 should not fire in methods that implement IVs* interface members"
It's a given that an IVs*Events interface will (almost certainly) be invoked on the UI thread. So requiring explicitly checking is wasteful, as shown here:

[code]

Similar argument for overrides of `Package.Initialize` or `Package.Dispose`.

[2017-01-27 20:42] sharwell commented on #53
Yes, *provided* you expand VSSDK002 to demand that the check appear before calling methods that implement `IVs*`, even if that implementation isn't in a shell interop assembly.

[2017-01-27 21:17] AArnott commented on #53
@sharwell: we already do that if the call is through the interface. But if the call isn't through the interface VSSDK002 won't catch it. Is that what you were referring to? Sounds like a good idea.

[2017-01-27 21:17] AArnott commented on #53
(@sharwell: it's good to have you watching the project. I'm glad we OSS'd it if nothing than just for that)

[2017-01-27 21:57] sharwell commented on #53
@AArnott Yes that's what I'm referring to. By removing the check in the implementation (this issue), you are assuming the caller is doing the right thing. But when it comes to calling the implementation, you aren't currently checking that. :smile:

[2017-01-27 22:28] AArnott commented on #53
[This library already works in VS2012](https://blogs.msdn.microsoft.com/andrewarnottms/2014/05/07/asynchronous-and-multithreaded-programming-within-vs-using-the-joinabletaskfactory/#comments). We didn't need to OSS it for that.

[2017-01-27 23:48] #37 closed

[2017-01-28 01:56] AArnott opened #56 "A new analyzer should encourage thread checks at start of method"
When you have code like this:

[code]

It's problematic because callers usually aren't prepared for thread affinity *sometimes*. As a result, code that happens to not execute the conditional logic of the method will temporarily get away with it but then get stung by it later. We want to front-load discovery of such bugs as early as possible by making synchronous methods unconditionally thread affi

[2017-01-31 07:54] AArnott opened #60 "VSTHRD002 and VSTHRD102 misfire for nameof(Task<int>.Result)"
VSTHRD002 and VSTHRD102 misfire on this line:

[code]

Obviously this is not an invocation of the property getter and thus shouldn't cause a diagnostic to be produced.

[2017-01-31 08:00] AArnott opened #61 "VSTHRD103 recommends xunit ThrowsAsync in async method"
Because xunit's `Assert` class offers both `Throws` and `ThrowsAsync`, VSTHRD103 will claim an async test method should call the async version, when of course that is only appropriate if the delegate passed to the method is itself async.

[code]

[2017-02-02 17:10] sharwell opened #62 "AsyncQueue does not cache Completion if already finished"
`AsyncQueue.Completion` has a fast path for the case where the result is cached. However, if the queue is already completed the first time this property is accessed, the backing field `AsyncQueue.completedSource` is never assigned. The fast path through this property could be improved by caching the `TplExtensions.CompletedTask` result so the lock doesn't need to be taken again.

[2017-02-02 18:44] AArnott opened #63 "VSTHRD012 misfires for JTF.ctor(JoinableTaskCollection)"
The following snippet will cause VSTHRD012 to misfire on the last line:

[code]

I believe this is because JoinableTaskCollection isn't recognized as providing a JoinableTaskFactory or JoinableTaskContext, yet an overload of the JTF ctor does take it.

As reported by @digeff

[2017-02-02 21:23] AArnott opened #64 "A new analyzer should find Task.FromResult<object>(null) and replace with TplExtensions.CompletedTask"
When `Task.FromResult<object>(null)` is found (or more generally `Task.FromResult<T>(default(T))`), and it assigned to a `Task` rather than `Task<T>` (or returned from a method with that return type), we should propose replacing with `TplExtensions.CompletedTask` or `Task.CompletedTask` because it reuses `Task` instances.

[2017-02-02 22:53] digeff opened #65 "VSTHRD010 doesn't fire for Microsoft.VisualStudio.OLE.Interop.IServiceProvider"
VSTHRD010 doesn't fire for:
[code]

Though it correctly fires for:
[code]

As an image:
![image](https://cloud.githubusercontent.com/assets/14098140/22571996/1aa4cb7e-e957-11e6-94c5-ebd9e9a5c71a.png)

The same issue happens for:
Microsoft.DiagnosticsHub.VisualStudio.SDK.IVsDiagnosticsHubService
and:
as Microsoft.DiagnosticsHub.IRecentListService

[2017-02-03 02:13] AArnott commented on #65
Your case of `GlobalProvider.GetService` will never work unless we special case it, or we do what @sharwell suggests in #53: detect class method invocations that happen to implement interfaces that we already fire on.

[2017-02-03 02:59] AArnott commented on #62
The field that stores the cached value is a TCS, rather than a Task. So we would need to add a field, making every instance larger. So unless you can suggest a real scenario where the lock is prohibitively expensive, this looks like a Won't Fix.

[2017-02-03 02:59] #62 closed

[2017-02-03 17:02] sharwell commented on #62
👍

[2017-02-03 19:11] #65 closed

[2017-02-04 15:49] AArnott commented on #53
I'm backtracking on this. I have made the change already for #65 that @sharwell suggested, that we detect calls to public methods that happen to implement `IVs*` interfaces and ensure that the caller asserts the UI thread first. But this issue's primary concern of *not* requiring a UI thread assert *inside* that method is what I've changed my mind about, because folks can call those methods direct

[2017-02-04 15:49] #53 closed

[2017-02-04 16:57] #60 closed

[2017-02-04 19:13] #63 closed

[2017-02-07 16:11] sharwell opened #73 "Documentation for AsyncCountdownEventTests.SignalThrowsOnError is misleading"
The documentation as [seen here](https://github.com/Microsoft/vs-threading/blob/14f77875ae3a04108f0bd94ee9a1124dcf4a3073/src/Microsoft.VisualStudio.Threading.Tests.Shared/AsyncCountdownEventTests.cs#L104) does not match the actual test behavior.

[2017-02-07 16:14] sharwell opened #74 "The documentation for AsyncAutoResetEventTests.WaitAsync_WithCancellationToken_DoesNotLeakWhenCanceled is misleading"
The documentation as [seen here](https://github.com/Microsoft/vs-threading/blob/14f77875ae3a04108f0bd94ee9a1124dcf4a3073/src/Microsoft.VisualStudio.Threading.Tests.Shared/AsyncAutoResetEventTests.cs#L197) is does not seem to match the actual test behavior. This could be due to a mistake in the comment, or possibly the comment is referring to cancellation tokens in some other part of the code?

[2017-02-07 17:40] sharwell opened #75 "Unspecified ordering for dequeue operations in AsyncQueue is problematic"
Currently the order in which dequeuers are provided values from `AsyncQueue<T>` is unspecified. This can lead to strange behavior such as the following:

### Single-threaded reordering (same cancellation token)

1. Thread *A* calls `DequeueAsync` with `CancellationToken.None`
1. Thread *A* calls `DequeueAsync` with `CancellationToken.None`
1. Thread *A* calls `Enqueue(1)`
1. Thread *A* calls `Enqu

[2017-02-07 18:07] sharwell commented on #75
💭 The `MultipleDequeuers` test could probably be updated to more strictly check for reordering for the first case (same thread, same cancellation token).

[2017-02-07 18:22] sharwell opened #76 "Suggested improvement to AsyncQueueTests.NoLockHeldForCancellationContinuation"
I believe this test would benefit from the following:

1. Verifying that the `Task` returned by `dequeueTask.ContinueWith(...)` completed successfully.
1. An assertion at the end that `queue.Count==1`.

[2017-02-08 01:06] #74 closed

[2017-02-08 01:06] #76 closed

[2017-02-08 01:06] #73 closed

[2017-02-08 02:16] AArnott commented on #75
Well, I want to say in theory I agree with you. And for your first scenario I can repro the problem. But while the 2nd and 3rd scenario are also likely broken, tests suggest otherwise. So it will take longer for me to write ones that fail.

[2017-02-08 06:12] sharwell commented on #75
@AArnott I'm guessing the second one can be reproduced by duplicating the `MultipleDequeuers` test, while making the following changes:

1. Like you did for reproducing the first issue, make sure the assertions verify that items are dequeued in FIFO order.
1. Potentially use a larger number of dequeuers (the test has 5; try 100 and see if the bug easily reproduces there and adjust as it makes sens

[2017-02-08 06:21] sharwell commented on #75
@AArnott I'm guessing the third one can be reproduced with a cleverly-constructed single-producer, two-consumer implementation:

1. Each consumer uses its own `CancellationTokenSource` for all dequeuers added by that consumer.
1. Before adding the first item to the queue, each consumer should call `DequeueAsync` twice in round-robin fashion.
1. The handler for each consumer synchronously adds a ne

[2017-02-08 06:39] sharwell opened #78 "Why not use a synchronous callback in AsyncLazy"
I'm wondering why [this use of `ContinueWith`](https://github.com/Microsoft/vs-threading/blob/14f77875ae3a04108f0bd94ee9a1124dcf4a3073/src/Microsoft.VisualStudio.Threading.Shared/AsyncLazy.cs#L166-L174) in `AsyncLazy<T>` doesn't specify `ExecuteSynchronously`. It seems like that would be safe and marginally more efficient.

[2017-02-08 16:47] AArnott commented on #78
Probably true, at least if .NET isn't already inlining the continuation as it often does.

[2017-02-09 05:09] AArnott commented on #75
OK, I have a test for scenario 2 that fails. I'll work on 3 next.
Incidentally, I had an idea this morning on how to fix this in a way that simplifies the code and reduces memory pressure. :)

[2017-02-09 05:27] AArnott commented on #75
I was able to repro number 3 without any synchronous continuations because if you already have two dequeuers per CancellationToken, and you enqueue two items, no more DequeueAsync will complete or matter anyway.

[2017-02-09 17:46] #78 closed

[2017-02-09 18:52] AArnott opened #80 "Unstable test: OnHangDetected_RunAsync_OnMainThread_BlamedMethodIsEntrypointNotBlockingMethod"
In [the 15.1.9 build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.1.9+R), we had a test fail that normally passes. It is unrelated to the code change as that code had already built in PR validation and the test passed. See also [a subsequent rebuild of that commit](https://ci.appveyor.com/project/AArnott/vs-threading/build/1.0.121).

[code]

[2017-02-10 16:51] sharwell opened #81 "IsMainThreadBlockedFalseWhenSyncBlockingOtherThread isn't testing anything"
The [`IsMainThreadBlockedFalseWhenSyncBlockingOtherThread`](https://github.com/Microsoft/vs-threading/blob/14f77875ae3a04108f0bd94ee9a1124dcf4a3073/src/Microsoft.VisualStudio.Threading.Tests.Shared/JoinableTaskContextTests.cs#L593) test doesn't wait for the background task to complete, and therefore won't actually fail if the task fails.

[2017-02-11 09:47] sharwell opened #82 "Unknown exception behavior in JoinableTaskContextTests.GetHangReportWithActualHang"
The [`JoinableTaskContextTests.GetHangReportWithActualHang`](https://github.com/Microsoft/vs-threading/blob/1c9566954617fc53d137357e3154f365cae0e1fe/src/Microsoft.VisualStudio.Threading.Tests.Shared/JoinableTaskContextTests.cs#L490) test is written in a way that suggests an exception is thrown, but it does not actually verify that the test is thrown (the test will pass whether or not it's thrown).

[2017-02-11 09:59] sharwell commented on #44
I fixed this by adding a small delay after [these assertions](https://github.com/Microsoft/vs-threading/blob/1c9566954617fc53d137357e3154f365cae0e1fe/src/Microsoft.VisualStudio.Threading.Tests.Shared/JoinableTaskTests.cs#L527-L528) to ensure the background operation doesn't complete before the code awaits the result.

[2017-02-14 00:03] AArnott opened #83 "AsyncReaderWriterLock synchronous lock disposal from UI thread is vulnerable to RPC reentrancy"
The `AsyncReaderWriterLock` class sometimes does [a synchronous wait when disposing its lock, without blocking RPC re-entrancy](https://github.com/Microsoft/vs-threading/blob/6b6ed306d717e4b744980da9ee2fb364854c4302/src/Microsoft.VisualStudio.Threading.Shared/AsyncReaderWriterLock.cs#L1842). This can result in crashes or deadlocks when this is invoked from the UI thread and unwanted RPC calls get

[2017-02-19 15:50] sharwell opened #84 "Incorrect implementation of AwaiterMetadata.Equals"
The implementation of [`AwaiterMetadata.Equals`](https://github.com/Microsoft/vs-threading/blob/14f77875ae3a04108f0bd94ee9a1124dcf4a3073/src/Microsoft.VisualStudio.Threading.Shared/AsyncReaderWriterLock%2BHangReportContributor.cs#L247-L250) is comparing objects of different types and expecting good results. This type is used as a key in a has set, it should be corrected.

[2017-02-19 16:42] AArnott commented on #84
It looks like while we have tests that cover this `AwaiterMetadata` class, no hash collision typically occurs so the `Equals` method is not called. So I have a fix for it, but it isn't unit tested, and I'm having a hard time imagining what unit test could force the modulus of the hashes to collide. So I'll skip the test this time around. 😲

[2017-02-20 14:37] sharwell opened #86 "AsyncReaderWriterResourceLock constructor leaves helper unassigned"
One of the `AsyncReaderWriterResourceLock<TMoniker, TResource>` constructors appears to leave the `helper` field uninitialized:

https://github.com/Microsoft/vs-threading/blob/14f77875ae3a04108f0bd94ee9a1124dcf4a3073/src/Microsoft.VisualStudio.Threading.Shared/AsyncReaderWriterResourceLock.cs#L47-L50

[2017-02-20 15:56] AArnott commented on #86
zoiks! I guess no one calls that constructor. But I thought we added it there for CPS in debug mode.

[2017-02-21 05:48] lifengl commented on #86
no, I didn't see anywhere we used this API.

________________________________
From: Andrew Arnott <notifications@github.com>
Sent: Monday, February 20, 2017 7:57 AM
To: Microsoft/vs-threading
Cc: Lifeng Lu; Mention
Subject: Re: [Microsoft/vs-threading] AsyncReaderWriterResourceLock constructor leaves helper unassigned (#86)

zoiks! I guess no one calls that constructor. But I thought we added it t

[2017-02-21 06:12] #84 closed

[2017-02-21 19:09] #86 closed

[2017-02-21 19:25] AArnott opened #88 "Unstable test: SwitchToMainThreadShouldNotLeakJoinableTaskWhenGetResultRunsLater"
From [a build where this test failed](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.1.11+R), here is the output of the test:

[code]

Here is [the relevant source line](https://github.com/Microsoft/vs-threading/blob/1aa93a60a80f7c846ff456fef8b73732f7f10bca/src/Microsoft.VisualStudio.Threading.Tests.Shared/JoinableTaskTests.cs#L3141)

[2017-02-21 19:26] AArnott commented on #80
This test [failed again](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.1.11+R).

[2017-02-21 21:26] AArnott opened #89 "Consider testing with Chess"
[Chess](https://www.microsoft.com/en-us/research/project/chess-find-and-reproduce-heisenbugs-in-concurrent-programs/) could give us a way to find concurrency bugs in the library.

[2017-02-24 16:35] sharwell opened #90 "Race condition in AsyncBarrier.SignalAndWait"
Currently `SignalAndWait` [resets `remainingParticipants`](https://github.com/Microsoft/vs-threading/blob/1aa93a60a80f7c846ff456fef8b73732f7f10bca/src/Microsoft.VisualStudio.Threading.Shared/AsyncBarrier.cs#L59), suggesting that the `AsyncBarrier` can be used multiple times to let tasks proceed in groups of size `participantCount`. However, the reset of `participantCount` and `waiters` is not atom

[2017-03-09 03:39] AArnott opened #91 "VSTHRD102 should not fire when VSTHRD002 would"
The following code requires two warning suppressions for the same by-design "violation". If VSTHRD002 signals a violation, being more severe, VSTHRD102 shouldn't double up.

[code]

[2017-03-14 17:49] javierdlg opened #92 "VSTHRD103 Suggests method calls itself when async method calls non-async method"
The analyzer suggests changing the name of a method from its non-async version to its async version without realizing the async method is itself.

Example:
[code]
Analyzer will recommend changing `CallMain()` into `CallMainAsync()` without realizing `CallMainAsync()` is itself and that `CallMain()` is not the non-async counterpart but instead a synchronous part of `CallMainAsync()`

[2017-03-14 17:53] javierdlg opened #93 "VSTHRD010 doesn't warn in some cases with unit tests"
In some cases the [VSTHRD010](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD010.md) warning doesn't show with some unit test that use `IVsHierarchyItem` with MSTest

[2017-03-15 15:24] AArnott commented on #93
Thanks for the report, @javierdlg. It would be great if you could include an actual method (perhaps trimmed down) and call out the line that the analyzer misfires on.

[2017-03-15 15:25] AArnott commented on #92
Thanks for reporting, @javierdlg. Can you name which rule is misfiring here?

[2017-03-17 18:30] javierdlg commented on #92
The rule is VSTHRD103

[2017-03-28 18:19] #83 closed

[2017-03-29 17:47] JoshVarty opened #97 "Missing documentation for async hang debugging"
I was reading through the [threading rules](https://github.com/Microsoft/vs-threading/blob/master/doc/threading_rules.md) and came across the section on debugging hangs in the JTF:

Unfortunately the link appears to be broken. Is this page available? I couldn't find it with a quick search for `.md` files in this repo.

[2017-03-29 18:02] weltkante commented on #97
Talking of broken links, the "cookbook.md" link in the first paragraph needs to be also updated, it appears the file is called "cookbook_vs.md"

[2017-04-06 18:09] AArnott opened #98 "JoinableTask.JoinAsync not hardened for (evil) Task.Wait() calls"
JoinableTask's [`JoinAsync`](https://github.com/Microsoft/vs-threading/blob/release/dev15/preview4/src/Microsoft.VisualStudio.Threading.Shared/JoinableTask.cs#L517
) and [`JoinAsync<T>`](https://github.com/Microsoft/vs-threading/blob/release/dev15/preview4/src/Microsoft.VisualStudio.Threading.Shared/JoinableTask%601.cs#L58) methods have unconfigured awaits which some legacy code that calls an asyn

[2017-04-07 15:54] #98 closed

[2017-04-27 13:16] sharwell opened #102 "New analyzer: using Task<T> instead of resource T"
### Example

[code]

### Expected warning:

### Expected code fix (when enclosing method is `async`):

[code]

[2017-04-27 13:59] sharwell opened #103 "Cannot run tests locally"
When I try to run the tests locally (via Visual Studio 2017 Test Explorer), I get the following message:

I tried editing the Microsoft.VisualStudio.Threading.csproj project file to disable signing temporarily (with `<SignAssembly>False</SignAssembly>`, but that just changed the error message to the following:

[2017-04-27 14:49] AArnott commented on #103
Launch VS from a cmd window where you have SET signtype=mock, then rebuild.

We'll doc this is the Readme or contributing doc.

[2017-04-27 15:12] AArnott commented on #103
Also you have to register for skip verification with the workaround I mentioned. This is documented for another repo of ours here: https://github.com/Microsoft/vs-streamjsonrpc/blob/master/CONTRIBUTING.md#running-tests

[2017-04-27 17:40] #103 closed

[2017-05-09 15:43] AArnott commented on #102
I wonder if this analyzer would be better to go into the AsyncUsageAnalyzers library though, given it isn't related to this threading library. Thoughts, @sharwell ?

[2017-05-09 16:48] sharwell commented on #102
That would be fine. I only reported it here because it affected a usage scenario when working with this library, combined with the fact that this library uses analyzers to encourage correct usage. :smile:

[2017-05-09 23:58] AArnott opened #108 "VSTHRD003 fails to fire on non-awaited Task created outside JTF.Run delegate"
This report from John Hart:

[code]

[2017-05-12 00:45] AArnott opened #109 "High lock contention in Roslyn DelimitedMessageHandler"
_From @CyrusNajmabadi on May 10, 2017 0:30_

From a discussion with @AArnott ,

I'm seeing super high CPU utilization in VS when we use StreamRPC to talk to our OOP server.  ETW logs reveal this as the top exclusive problem:

I’m investigating some local traces that show high CPU usage in VS during OOP scenarios.  The traces end up showing a large amount of time around locks and contention:

--

!

[2017-05-12 00:45] AArnott commented on #109
The last screenshot isn't StreamJsonRpc -- it's ServiceHub, and most likely because you're creating (and destroying) connections very rapidly which is by nature inefficient for named pipes from our experience.

This issue will track just the StreamJsonRpc related issue with DelimitedMessageHandler.

[2017-05-12 00:45] AArnott commented on #109
@heejaechang:

I see that we have an AsyncSemaphore instance dedicated to writing to the stream. So if we’re seeing high contention costs here, that’s a regrettable result of two facts combined:
1.	SemaphoreSlim in .NET itself has this contention cost
2.	You have a very high concurrency rate for writing to the stream.

I’m curious how many threads (logical or otherwise) you have running that are a

[2017-05-12 00:45] AArnott commented on #109
_From @heejaechang on May 10, 2017 16:55_

@AArnott when we say writing to stream, do you mean to 1 stream or to different streams?

we don't share 1 stream for all features. we let each feature to create as many stream as they want to.
all features I know doesn't concurrently write to same stream. FAR/GOTO might? @CyrusNajmabadi ?

[2017-05-12 00:45] AArnott commented on #109
_From @heejaechang on May 10, 2017 16:56_

@AArnott about creating and destroying connections. so are we back to pooling connection? or share same connection for many features?

[2017-05-12 00:45] AArnott commented on #109
_From @CyrusNajmabadi on May 10, 2017 18:24_

Yes.  FindAndReferences and NavigateTo are both highly concurrent features.  We create tons of tasks to concurrently search the solution, and those tasks communicate results over the wire.  Is that not something that is efficient with ServiceHub+JsonRPC?

[2017-05-12 00:45] AArnott commented on #109
_From @heejaechang on May 10, 2017 18:28_

@AArnott is it better to have multiple streams and assign 1 to 1 task so that 1 task read/write to 1 stream? or just create 1 stream and multiple tasks writing to it?

[2017-05-12 00:45] AArnott commented on #109
@heejaechang: Each stream gets a dedicated SemaphoreSlim to ensure that messages are written one-at-a-time so they don't corrupt each other. So the number of streams is irrelevant. This contention is caused because you have multiple threads contending to write to the stream at the same time, and SemaphoreSlim is protecting it, but evidently there is a high cost (probably in a CPU spin-wait) before

[2017-05-12 00:45] AArnott commented on #109
_From @CyrusNajmabadi on May 11, 2017 21:42_

We probably need several streams.  can we create one-stream-per-concurrent-task, but then pool the streams so we can reuse the streams once they're released from whatever task was previously using it?

Initially we'd create a few streams (probably around 1-2x Processor-Count).  But then once they're created, they could be reused for new tasks as existi

[2017-05-12 00:45] AArnott commented on #109
Yes, that sounds very reasonable, @CyrusNajmabadi.

[2017-05-12 00:45] AArnott commented on #109
_From @heejaechang on May 11, 2017 22:1_

okay. so we are back to stream pooling. is the suggestion we implement the pooling? or service hub automatically does it for us?

[2017-05-12 00:45] AArnott commented on #109
The arguments I've made in the past about why ServiceHub isn't appropriate still apply. So you should implement the pooling on your side.

As a ServiceHub compatible feature, I can imagine the HubClient class letting you request a service with a specified concurrency level built-in. This would provide multiple streams between the service instance and your client. Then we could enhance StreamJsonRp

[2017-05-12 00:45] AArnott commented on #109
_From @CyrusNajmabadi on May 11, 2017 22:24_

To me the question is always:

The need to communicate concurrently with the OOP server is not anything Roslyn specific.  It's a need many components could have.  So having to implement our own pooling would only benefit us.  Everyone else would then have to do the same.  As such, this feels like something that hte platform should provide.  Scaling up

[2017-05-12 00:45] AArnott commented on #109
I agree: that's why I proposed the idea of supporting multiple concurrent streams between one client and one service. It would seem to satisfy the requirement and it's something ServiceHub can provide without *any* knowledge of the protocol on the stream itself.

In contrast, connection pooling requires that we understand when it is safe to disconnect/reconnect. It comes with hazards like "I just

[2017-05-12 00:50] AArnott commented on #109
@CyrusNajmabadi I'm going to try my hand at rewriting `AsyncSemaphore` to avoid `SemaphoreSlim` to fix this high contention cost. If we can fix it in .NET as well, great, but that will presumably come in a future release of .NET and I'm curious whether we can get a fix earlier than that for your sake in 15.3.

Also, it might just achieve (by side effect) what @sharwell was trying to achieve with #

[2017-05-14 05:12] AArnott commented on #90
To best retain backward compatibility, I think we must go with allowing multiple groups through.

[2017-05-16 00:22] #90 closed

[2017-05-17 15:14] AArnott opened #112 "WaitWithoutInlining waits for continuations of the original Task"
In reviewing [the code for `WaitWithoutInlining`](https://github.com/Microsoft/vs-threading/blob/master/src/Microsoft.VisualStudio.Threading/TplExtensions.cs#L49-L60) it occurred to me that inlined continuations of the waited Task may execute before `WaitWithoutInlining` returns to the caller. That might introduce deadlocks at worst, or at best just slow down the caller unnecessarily and defeats s

[2017-05-18 01:29] AArnott opened #114 "NRE thrown in race condition from JoinableTaskSynchronizationContext.Post"
When a JoinableTask completes at about the same time as another thread calls Post on its captured SynchronizationContext, a NullReferenceException can be thrown from [this code](https://github.com/Microsoft/vs-threading/blob/87f655fb583fb0d3360ca723902a8bd1dd709ea4/src/Microsoft.VisualStudio.Threading/JoinableTask+JoinableTaskSynchronizationContext.cs#L78-L80) when `this.job` is first checked to b

[2017-05-18 15:43] AArnott opened #115 "Race condition leads to dropped threadpool work from JTF.Run on a background thread"
When JTF.Run is executed on a background thread, its SynchronizationContext captured and posted to at about the same time as the JTF.Run delegate completes, a race exists in which the posted work may be left in the JoinableTasks's internal threadpool queue having never been scheduled.

[2017-05-18 19:11] #114 closed

[2017-05-18 19:11] #115 closed

[2017-05-18 19:39] #112 closed

[2017-05-20 18:29] AArnott opened #118 "Unstable test: NestedFactoriesCanBeCollected skipped because precondition fails"
From [appveyor log](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.3.25+g24bc70716b.R#L124)
[code]

[2017-05-20 18:30] AArnott opened #119 "Unstable test: AsyncBarrierTests.StressMultipleGroups"
From [appveyor log](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.3.25+g24bc70716b.R#L89):

[code]

[2017-05-20 19:14] sharwell commented on #108
❓ Which is the problem?

1. VSSDK003 is not yet implemented
2. VSSDK003 does not work when `task` is an argument (e.g. `JTF.Run(() => task)` also does not report)
2. VSSDK003 works for `JTF.Run(() => task)` but not for `JTF.Run(() => task.WithCancellation(ct))`

[2017-05-20 19:26] AArnott commented on #118
This fails because continuation messages are not posted to the test modal factory synchronously as their antecedents complete. I'm investigating whether this is by a change in design or a bug.

[2017-05-20 20:04] AArnott commented on #118
I think this may have regressed with 8650fe00. It's not the only test that did.

[2017-05-20 20:07] AArnott commented on #118
Confirmed. 8650fe0 regressed this, and 98ef5679b873a00afc7097f42560fc5eec19df09 fixed up some failures, but not this one.

[2017-05-20 20:19] AArnott commented on #88
This test failure seems to repro reliably when I add a for loop to execute it 50 times.

[2017-05-20 21:35] AArnott commented on #88
I can't figure out why the object leaks. A `!gcroot` of the object returns this:

[code]

[2017-05-20 21:50] AArnott commented on #108
@sharwell: no. 2
The analyzer only reported a diagnostic when `task` was *awaited*.

[2017-05-20 22:22] AArnott commented on #80
and [again](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.3.28+g614d8e6cf8.R#L48)

[2017-05-21 03:59] BertanAygun commented on #88
I am not sure but couple things I can think of are: (1) maybe the anonymous functions are leaking which would have captured "result" object (2) the code is optimized so result = null isn't performed since result is not used afterwards.

[2017-05-21 15:28] AArnott commented on #88
Thanks for your suggestions, @BertanAygun. They made me re-consider one more thing that I missed earlier:
In the existing test, in fact there is a delegate that hasn't been freed yet. And while in my local modification of the test I had fixed that problem (by running the message pump multiple times), I forgot to clear the local variable in each of the retry loops, so that would explain why it show

[2017-05-22 18:54] #88 closed

[2017-05-22 18:54] #118 closed

[2017-05-22 19:00] AArnott opened #123 "Unstable test: ToTaskOnHandleSignaledAfterNonZeroTimeout"
From [this appveyor build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.6.3+R#L47):

[code]

[2017-05-23 15:56] AArnott commented on #119
[Still fails](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.6.4+ge1646b17d5.R#L104)

[2017-06-03 18:15] #80 closed

[2017-06-03 18:15] #108 closed

[2017-06-03 18:15] #123 closed

[2017-06-03 18:15] #44 closed

[2017-06-03 18:15] #45 closed

[2017-06-03 18:15] #46 closed

[2017-06-04 19:20] #102 closed

[2017-06-04 20:01] #97 closed

[2017-06-04 21:31] AArnott commented on #119
It [still fails](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.3.41+gd5504b53cb.R#L104).

[code]

It notably seems to happen only on CoreCLR test runs.

[2017-06-06 18:21] lifengl opened #132 "Slow performance when we have loop JTF dependencies"
When we create JTF friendly semaphore in this style, and have many calls into this code, we saw huge CPU usage inside JTF.Disjoin method.

            return JoinableFactory.RunAsync(async delegate
            {
                using (JoinableCollection.Join())
                using (await _gate.DisposableWaitAsync().ConfigureAwait(false))
                {
                    await task().Configu

[2017-06-06 18:24] lifengl commented on #132
need investigate how to improve the inner data structure, or at least, we should not use this pattern in the code. (Create the out JTF with a different JTF factory/collection).

[2017-06-08 05:28] #82 closed

[2017-06-08 05:29] #81 closed

[2017-06-10 12:28] sharwell opened #135 "High lock contention in JTF"
During a profiling pass on a solution load of Roslyn.sln, I observed over 30 seconds of lock contention within this library.

The key offenders were the following:

| Method | Exclusive time in lock contention | Fix
| --- | --- | --- |
| JoinableTask.get_ApplicableJobSyncContext() | 7310ms | #409
| JoinableTask.Complete() | 5340ms |
| JoinableTaskContext.get_Factory() | 3587ms | #409
| JoinableTas

[2017-06-10 15:06] AArnott commented on #135
Is this a dupe of #132? JTF normally runs without much contention I think. But in #132 it's awful because a lock is held while performing an n^3 algorithm.

[2017-06-10 15:39] sharwell commented on #135
@AArnott I will try to determine if this is a duplicate. Keep in mind my test was run on a system with more cores than average (14C + HT), so based on what we know about end users today this information is more of a "this situation is inevitable but yet to get here".

[2017-06-10 15:45] sharwell commented on #135
@AArnott I see a total of 1863ms spent in `Disjoin`, so it's possible this is fallout from #132. I'm hesitant to treat it as a full duplicate since investigation suggests there are several cases above where lock-free fast paths are not unreasonable to incorporate.

[2017-06-14 15:52] sharwell opened #137 "Include System.ValueTuple as an analyzer assembly"
If you are interested in using tuple types in the analyzer package, you can include **System.ValueTuple.dll** as an analyzer assembly in the same folder where your other analyzer assemblies are. This will allow it to be loaded by Roslyn 1.x.

[2017-06-14 17:51] AArnott commented on #137
Yes, I'm aware of that. But it's unnecessary as I found the workaround was simpler than trying to shimmy the extra assembly into the analyzers folder of the nupkg.

[2017-06-14 17:51] #137 closed

[2017-06-27 14:44] AArnott opened #138 "Add an extension method that produces a JTF instance for a given DispatcherPriority"
Per the discussion [here](https://github.com/dotnet/project-system/pull/2480/files/76b5f797cce3e12ee05ebb4d5d63914b0b18455d#r124295306), we should offer a way to always avoid `Dispatcher.BeginInvoke` by offering a JTF-derived type that uses whatever Dispatcher priority you care to name, similar to what we do in VS with `VsTaskRunContext`.

[2017-06-27 15:16] AArnott opened #139 "VSTHRD012 leads folks to specify JTF with IProjectThreadingService.Fork unnecessarily"
I observed [here](https://github.com/dotnet/project-system/pull/2480/files#diff-45bd301f51b9ce3f3b31f03da8ac4e42R55) that VSTHRD012 led someone to specify an optional parameter to specify a default JTF where that was implied. This particular API safely uses the default JTF where none is specified.

We should consider a way for APIs to indicate that they are safe to omit JTF from due to safe defaul

[2017-06-27 15:30] AArnott opened #140 "New analyzer: flag calls to `SwitchToMainThreadAsync()` on results of `WithPriority`"
See https://github.com/dotnet/project-system/pull/2480/files#diff-94fb0ac9dc91d1c68d18786035b2428eR57

[code]

As a general rule, we like to see `SwitchToMainThreadAsync()` called on a regular JTF instance, and use that JTF instance to call `RunAsync` (or `StartOnIdle` as I describe above). That way, *any* call to `SwitchToMainThreadAsync` in this code or code it calls will all automatically inher

[2017-06-29 22:06] #93 closed

[2017-06-30 00:19] #91 closed

[2017-06-30 15:42] IntelOrca opened #146 "New analyser: warn about (delegate).BeginInvoke"
I came across the following code when converting our code base to use new threading standards.
[code]

I am not sure what the best thing to suggest is, but my fix was to make `DoWork` async and switch to a background thread within that. Then call it from a synchronous method using one of the `Forget` extension methods.

[2017-06-30 15:58] AArnott commented on #146
The change you describe is fine. But I'm not sure what the analyzer would warn about. I can't think of anything fundamentally wrong with the code you had before, aside from the fact that it's an old pattern that you don't often see anymore.
I guess a negative aspect would be that at least in your sample you never call EndInvoke, so you're not realizing any failure if `DoWork` were to throw. Is tha

[2017-06-30 16:01] IntelOrca commented on #146
I wasn't sure whether it was considered a bad practice or not as I am not completely sure on how the thread switching works for BeginInvoke. Where do exceptions propagate to if one is thrown in a BeginInvoke?

[2017-06-30 19:20] AArnott commented on #146
`BeginInvoke` executes the method on the Threadpool. Exceptions are re-thrown so you can handle them when you call `EndInvoke`.

[2017-06-30 19:20] #146 closed

[2017-07-12 14:00] #61 closed

[2017-07-13 03:51] #138 closed

[2017-07-13 17:04] #92 closed

[2017-07-20 00:43] AArnott opened #157 "JTF allows reentrancy when waiting for locks in several places"
As reported by @lifengl, reentrancy is observed for at least this call tree:

[code]

[2017-07-21 15:26] AArnott opened #161 "Improve support for .NET Core 2.0"
.NET Core 2.0 adds support for .NET Standard 2.0 which makes most of the APIs that are missing in our .NET Core 1.0 supporting library possible to offer.

I have a [`dev/andarno/netstandard2.0`](https://github.com/Microsoft/vs-threading/tree/dev/andarno/netstandard2.0) branch where I've added the missing APIs when targeting .NET Standard 2.0, and changes to our test library to also test on .NET Co

[2017-07-26 01:05] #157 closed

[2017-07-28 10:28] sharwell opened #166 "Lock contention in AsyncReaderWriterLock.TryIssueLock"
Opening Roslyn.sln in Visual Studio 2017 (15.3 Preview 6).

I observed 11 seconds of lock contention in [`AsyncReaderWriterLock.TryIssueLock`](https://github.com/Microsoft/vs-threading/blob/b7e23fe6d8009f83dfc88b6850d03c7cd7595936/src/Microsoft.VisualStudio.Threading/AsyncReaderWriterLock.cs#L921) as a contributor to thread pool starvation. This is an asynchronous type being used in asynchronous c

[2017-07-28 14:52] sharwell opened #167 "Code fix for VSTHRD103 tries to await void"
[code]

Expected result:

[code]

Actual result:

[code]

[2017-07-28 14:55] sharwell opened #168 "Code fix for VSTHRD103 moves trivia"
Original code:

[code]

Expected after code fix:

[code]

Actual after code fix:

[code]

[2017-07-28 17:03] AArnott commented on #167
Thanks for the report. I actually would change the "Expected result" you specified to be "no diagnostic at all" in this case. If you have two methods that both return void but one has an Async suffix, I don't even know what that means, so I am not confident enough to report a diagnostic suggesting you're calling the wrong method.

[2017-07-28 17:04] AArnott commented on #166
Can you add an ETL trace, or otherwise summarize what the code that holds the lock for an undue amount of time is doing? We do need a lock here, but perhaps we're holding the lock too long either here or somewhere else, leading to the lock contention.

[2017-07-28 17:41] sharwell commented on #167
@AArnott If something gets disabled in this scenario, I lean towards not changing the diagnostic part, but instead just making the code fix a NOP.

[2017-07-28 17:43] sharwell opened #169 "Code fix for VSTHRD103 throws an exception"
Code sample:

[code]

When VSTHRD103 was reported, the code fix crashed because `IServiceProvider` does not define `GetServiceAsync`.

Stack trace:

[code]

[2017-07-28 18:30] AArnott commented on #167
Or we could suppress the code fix being offered rather than a no-op. But if we offer the code fix, why no-op rather than switching to the async method but without adding *await* to it?

Why would you prefer to keep the diagnostic in this case rather than remove it altogether?

[2017-07-28 18:31] AArnott commented on #169
@sharwell which `IServiceProvider` type are you using in your code sample here? It's not `System.IServiceProvider`.

[2017-07-28 18:43] sharwell commented on #169
Ah, it is `System.IServiceProvider`, but I simplified it too much. The original code calls `GetDTE`, where the following two extension methods exist:

[code]

[2017-07-28 18:49] sharwell commented on #167
Yes, that's what I meant.

It's reasonable to this the user meant to provide an async feature, event though it got botched.

[2017-07-28 18:52] AArnott commented on #169
Even with those two methods, I don't see any definition for `IServiceProvider.GetService<S, I>()` which your original sample invoked. And I can't (yet) fathom why the analyzer would misfire on your sample asking you to invoke `GetServiceAsync` when no such method exists.

Can you perhaps update the original sample with everything required (using statements, mentions of assembly references) to comp

[2017-07-28 18:53] sharwell commented on #169
Here's the full extension methods class:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/ServiceProviderExtensions.cs

[2017-07-28 18:55] AArnott commented on #167
Are you talking about the attempt to be async was botched (by virtue of returning void)?
If so, I'd agree with you. But in that case, I can't predict whether the Async variety will be a fire-and-forget implementation or something else. My best guess would be a fire-and-forget impl, and that would *not* be equivalent to awaiting on the async option or calling the sync option as it was before. So I

[2017-07-28 18:58] AArnott commented on #169
OK, so if I'm reading the code in your links correctly, the original sample is wrong because you say it calls `GetService` but it actually calls `GetDTE`. And the code fix wants to switch from `GetDTE` (on `IServiceProvider`) to `GetDTEAsync` (on `IAsyncServiceProvider`) even though we don't have an `IAsyncServiceProvider`. Is that right?

[2017-07-28 19:01] sharwell commented on #167
Not really. In tracking down cases where code should be making async calls but isn't, the larger problem is cases where a synchronous method sits between the caller and callee.

[code]

[2017-07-28 19:02] sharwell commented on #169
Yes, I tried to simplify the example, but in reality I broke it.

[2017-07-28 21:05] AArnott commented on #167
Yes, that's a very common problem. The analyzers VSTHRD102 thru VSTHRD104 are intended to help avoid patterns like this example, but I think even with them all enabled, your example *might* still get by without a diagnostic being reported. Would you like to file a separate issue for that?

[2017-07-28 21:06] sharwell commented on #167
Right now I don't have enough experience with this set of analyzers to have a clear picture of what's missing.

[2017-07-29 18:24] AArnott commented on #169
I'm not having any luck reproducing this in isolation based on what you've given me. I'll try enlisting in the nuget repo myself to repro, but previous attempt to get nuget.client to build for me have failed, so I'm not optimistic.

[2017-07-29 19:05] AArnott commented on #169
I don't yet know why any diagnostic is reported here at all, but the exception isn't because `GetServiceAsync` doesn't exist. I think it's because the fix would be applied at a location where there is no parent `MethodDeclarationSyntax` (because it's within an anonymous method within a constructor).

[2017-07-29 20:50] AArnott commented on #169
It looks like at least one, if not both, of the underlying causes of this failure are already fixed in the latest release. I see NuGet is using 15.0.240 but 15.3.35 is already out with the fixes. Please verify and let me know if we should re-open.

[2017-07-29 20:50] #169 closed

[2017-07-29 20:53] AArnott commented on #140
Won't fix. Not a common enough occurrence and not a serious concern when it happens.

[2017-07-29 20:53] #140 closed

[2017-07-29 21:33] #75 closed

[2017-07-31 18:41] #167 closed

[2017-07-31 18:42] #139 closed

[2017-07-31 19:10] #168 closed

[2017-08-01 00:57] lifengl opened #173 "JTF.Run has a race condition to run into deadlock"
We hit this issue inside CPS unit tests.  Basic problem is that the execution queue of a JTF can be updated outside of a JTF lock, and causes the JTF.Run loop waits on events forever, after the main task is completed.

The sequence of this dead lock:

1. JTF.Run executes the task
2. a spin-off task executes
3. the spin-off task has a request to switch back to the JTF context ( can be returning fro

[2017-08-02 20:01] #173 closed

[2017-08-04 17:45] AArnott opened #176 "Threading.Analyzers package contains unsigned ps1 scripts"
@adrianvmsft reports that the install.ps1 and uninstall.ps1 scripts in our Microsoft.VisualStudio.Threading.Analyzers nuget package are no longer signed.

It probably regressed with the change over to .NET SDK self-packing projects.

[2017-08-08 05:33] #176 closed

[2017-08-28 10:37] grokys opened #177 "Advice for unit testing code that needs to call ThreadHelper.JoinableTaskFactory"
Methods like `ThreadHelper.JoinableTaskFactory.SwitchToMainThreadAsync` are obviously invaluable when writing VS extensions, and often it is convenient to use them in code that can be unit tested, however `ThreadHelper.JoinableTaskFactory` throws a `NullReferenceException` in such tests.

Do you have any advice for unit testing code that needs to use `JoinableTaskFactory`?

[2017-08-28 10:45] grokys commented on #177
Ah, I just noticed https://github.com/Microsoft/vs-threading/blob/master/doc/testing_vs.md. Closing, apologies for the noise.

[2017-08-28 10:45] #177 closed

[2017-09-05 22:38] #161 closed

[2017-09-08 14:49] AArnott opened #181 "Add `ConfigureAwait(false)` option for `Task.Yield()`"
Folks who must `await Task.Yield();` currently have no option to append `.ConfigureAwait(false);`, and thus can deadlock if the async method's resulting Task is directly `Wait()`'d on while on the UI thread.

This is a lack in the .NET Framework, but we can fill in that gap here.

[2017-09-08 17:50] AArnott opened #183 "Unstable test: HangReportNotSuppressedOnLongRunningTaskNoLongerJoined"
As recorded in [this build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.6.4-beta+gc5ec8495ec.R#L78) on [this commit](https://github.com/Microsoft/vs-threading/commit/c5ec8495ecab6aa281974bd0e1a981f626abff0c), the test failed for net451 with this log:

[code]

[2017-09-08 17:53] AArnott opened #184 "Unstable test: WaitWithoutInlining_DoesNotWaitForOtherInlinedContinuations"
The `WaitWithoutInlining_DoesNotWaitForOtherInlinedContinuations` test failed in [this build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.6.4-beta+gc5ec8495ec#L159) of [this commit](https://github.com/Microsoft/vs-threading/commit/c5ec8495ecab6aa281974bd0e1a981f626abff0c), on netcoreapp1.0 with this output:

[code]

[2017-09-08 18:16] #181 closed

[2017-09-08 23:40] AArnott opened #185 "AsyncAutoResetEvent.WaitAsync(CancellationToken) has race condition where cancellation may never complete the returned Task"
As discovered by @IlyaBiryukov:

`AsyncAutoResetEvent.WaitAsync(CancellationToken)` will sometimes return a `Task` that never completes in response to the given `CancellationToken` being signaled.

[2017-09-08 23:43] AArnott commented on #185
The root cause of this is [the `Task` is only canceled if `this.signalAwaiters` has an expected element in the queue](https://github.com/Microsoft/vs-threading/blob/6d35763321204bde522a58d127d670141d83fefb/src/Microsoft.VisualStudio.Threading/AsyncAutoResetEvent.cs#L137).

But when the `CancellationToken` is signaled *between* [`WaitAsync`'s initial check](https://github.com/Microsoft/vs-threading

[2017-09-09 03:39] #185 closed

[2017-09-12 22:49] AArnott opened #187 "VSTHRD200 should not warn about async Main entrypoint method"
C# 7.1 feature specific.

[2017-09-14 19:57] AArnott opened #189 "VSTHRD002 code fix should not rename entrypoint method"
When applying the code fix for VSTHRD002 from the sample below, the `Main` method gets renamed to `MainAsync`, which introduces a compile error on C# 7.1.

[code]

See also #187

[2017-09-18 04:26] #56 closed

[2017-09-18 04:51] AArnott opened #192 "Unstable test: WithCancellationNoDeadlockFromSyncContext_Completed"
This test failed in [this build]:

[code]

[2017-09-22 08:54] JoeStead opened #193 "Rename the project to not include Visual Studio"
I've been looking for a package like this for quite some time, however as I do not use Visual Studio, I glanced over this originally because I thought it was something Visual Studio specific.

Removing the VS part of the project will increase discoverability in the future.

[2017-09-22 13:30] AArnott commented on #193
We might do this, except as it has shipped several times already, renaming it would be a breaking change that we can't tolerate.

Do you think any kind of labeling in its description or on nuget.org would help prevent people from passing over it?

[2017-09-22 13:59] JoeStead commented on #193
I understand that it's breaking, but that isn't necessarily a bad thing. The package itself doesn't have a huge amount of downloads currently, and the versioning seems to be tied to the VS versions, which again doesn't make sense.

The analyser itself is a different discussion, and potentially should be separated out?

[2017-09-22 14:22] AArnott commented on #193
Are you talking about renaming the package, or the assembly, or both?

Renaming the assembly would be unacceptable, as it's part of the public API for VS and other applications.
Renaming the package would be rather disruptive as well since folks already using the package wouldn't know where to find the new one to continue getting updates--or even that they need to change the ID in their dependency

[2017-10-04 20:18] #189 closed

[2017-10-04 20:18] #187 closed

[2017-10-06 22:53] AArnott opened #194 "Non-generic AsyncLazy for lazy initialization with side effects rather than a return value"
We occasionally use `AsyncLazy<object>` and return null from the value factory as a means for async, thread-safe lazy initialization of objects. Defining a non-generic version of `AsyncLazy` would feel better than returning null from a value factory.

[2017-10-06 22:53] AArnott commented on #194
CC: @tinaschrepfer

[2017-10-12 04:18] AArnott opened #195 "Avoid throwing in LightUps..cctor()"
We have seen Watson's where VS crashes due to this

[code]

While the actual crash happens later in native code due to a null-ref (which we should definitely fix, unrelated to this specific failure), we shouldn't be throwing out of static ctors, or really causing any kind of failure in VS due to things like this.

Migrated from [Bug 486232](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/

[2017-10-12 14:29] #193 closed

[2017-11-18 23:49] #195 closed

[2017-11-19 03:50] AArnott opened #197 "VSTHRD108 throws NRE when ThreadHelper.CheckAccess() appears in the expression of an if statement"
When analyzing the following file, VSTHRD108 throws a `NullReferenceException` on the line that calls `CheckAccess()`:

[code]

[2017-11-19 04:31] #197 closed

[2017-12-06 08:59] 0x084E opened #198 "Add .NET Standard 2.0 build to nuget package"
Since .NET Standard 2.0 is now supported please add it to the nuget package as well.

[2017-12-06 15:23] AArnott commented on #198
Already done in 2a2b165c69016d70371c211791adc3de4d92f8ca. 😄

[2017-12-06 15:23] #198 closed

[2017-12-06 16:28] AArnott commented on #198
I'm pushing a 15.6-beta update to nuget.org so you can get at the new netstandard2.0 library. It will show up soon.

[2017-12-06 16:42] 0x084E commented on #198
Sorry, my fault. I assumed this change was part of the 15.5 update.
Thanks for the beta release!

[2017-12-06 17:03] AArnott commented on #198
For my own education, would you mind telling me the value you see in the netstandard2.0 build?

[2017-12-06 17:48] 0x084E commented on #198
I'm using this library extensively for various threads (message loops and custom loops). Therefore I build a little wrapper which handles some things for automatically and uses the JoinableTaskContext constructor overload with Thread and SynchrobizationContext parameters for net46 builds. For netstandard2.0 builds I currently use reflection to create it with the thread id.

So there's no real valu

[2018-01-18 20:45] lifengl opened #200 "AsyncReaderWriterLock may ignore CancellationToken, when it is cancelled."
The Awaiter.OnCompleted has a potential race condition:
When the cancellation token is cancelled after IsCompueted is called, but before (or in the middle of) cancellationToken.Register is called (in the middle of OnCompleted function).  The call back will not be registered, but will be called in the middle of the cancellationToken.Register function. Because the request is not yet in the queue at

[2018-01-19 00:46] lifengl opened #201 "AsyncReaderWriterLock can leak a lock and cause product to hang"
When using a cancellation token to get a lock, this can happen:

1, try to gain a lock from the UI thread with a cancellation token;

2, in the constructor of the Awaitable, the cancellation token is not triggered, and the lock is issued immediately (line 1782)

3, the cancellation token is cancelled

4, the client code calls Awaiter.IsCompleted, it turns true, because the cancellation token is ca

[2018-02-01 17:40] AArnott opened #206 "Analyzer diagnostics should enable F1 help"
As requested by @madskristensen:

It looks like the Roslyn `DiagnosticDescriptor` class allows for a help link that we can use to deliver this.

[2018-02-01 18:32] #206 closed

[2018-02-04 05:48] #200 closed

[2018-02-04 05:48] #201 closed

[2018-02-09 22:40] AArnott opened #209 "VSTHRD004: Analyzer to raise error when SwitchToMainThreadAsync() is used in sync method without awaiting"
The compiler won't produce the warning when async methods are not awaited within a synchronous method. But calling this method is never correct without awaiting the result. We should produce an error.

[2018-02-09 22:40] AArnott commented on #209
@jepetty is the one who brought this to my attention.

[2018-02-14 15:52] AArnott opened #210 "VSTHRD105 fails to fire on Task.Factory.StartNew(methodgroup)"
This line doesn't produce a VSTHRD105 diagnostic, but it should, since it doesn't supply TaskScheduler.Default as an argument

[code]

[2018-02-14 16:49] AArnott commented on #210
Not repro on latest v15.5 version.

[2018-02-14 16:49] #210 closed

[2018-02-19 05:01] AArnott opened #211 "Unstable test: HangReportNotSuppressedOnUnrelatedLongRunningTask"
From [this build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.5.34+R#L116):

[code]

[2018-02-19 05:31] AArnott opened #212 "VSTHRD010 should be data-driven by AdditionalFiles"
We should make this analyzer data-driven so it applies to more than VS, and its VS applicability comes from the new vssdk-analyzers project.

Allow an AdditionalFiles .json file to specify regex patterns for type names, to generalize VSTHRD010 (SVs* on UI thread)

See Microsoft/vssdk-analyzers#10

[2018-02-20 04:15] AArnott opened #214 "Add analyzer to catch thread affinitized MEF part construction"
Dupe of https://github.com/Microsoft/VSSDK-Analyzers/issues/2

[2018-02-22 21:05] dgriffen opened #216 "VSTHRD010 claims Microsoft.VisualStudio.Shell.Interop.IAsyncServiceProvider is not free-threaded"
Microsoft.VisualStudio.Shell.Interop.IAsyncServiceProvider should be exempt from VSTHRD010 since the implementations are thread safe.

[2018-02-22 21:26] AArnott commented on #216
#215 will make this possible

[2018-02-22 21:27] AArnott commented on #216
@dgriffen was this object _always_ free-threaded, or did it become free-threaded in a specific VS version?

[2018-02-22 21:46] dgriffen commented on #216
It's always been free-threaded as far as I am aware.

[2018-02-23 04:08] sharwell opened #217 "VSTHRD002 should not fire in continuations"
The following code reports VSTHRD002, but it should not:

[code]

[2018-02-23 14:38] AArnott commented on #217
There are other cases, like:
[code]

or
[code]

In general, until Roslyn has flow analysis APIs available to analyzers I don't think we can cover them all. But `ContinueWith` looks like it's something we can check for pretty easily.

[2018-02-23 17:47] #216 closed

[2018-02-23 17:47] #212 closed

[2018-02-24 19:19] #183 closed

[2018-02-24 19:19] #211 closed

[2018-02-24 19:23] AArnott commented on #166
Closing due to not enough data.

[2018-02-24 19:23] #166 closed

[2018-02-24 19:33] sharwell commented on #166
@AArnott maybe set up a brainstorming/strategy meeting sometime in the next month? We can review a few of the observations I've seen on different occasions and see if there are any in particular we should spend time investigating.

[2018-02-24 20:40] AArnott commented on #166
Done

[2018-02-26 23:15] lifengl opened #221 "JTF collection uses lots memory inside VS"
JTF collection can use lots of memory in its two weakReference dictionaries.  That could be related to the extensive usage of JTF to create dependencies between dataflow blocks, and others.  The majority of those dictionaries are quite small, so should we consider a smaller initial capacity (or allow the code to create the collection to pick up a smaller initial size?)

[2018-02-27 21:17] #217 closed

[2018-02-28 10:42] 0x084E opened #223 "Hide AdditionalFiles from Analyzers in SolutionExplorer"
Since these files are only for internal usage of the analyzers it would be nice if they wouldn't show up in the root of the project. For me the following works fine:

[code]

[2018-02-28 17:07] AArnott commented on #223
Thanks for reporting this. Can you tell me which version of the analyzers you have installed, and into which kind of project?
I'm surprised the files show up because I thought items brought in via MSBuild imports were invisible by default.

[2018-02-28 17:24] 0x084E commented on #223
I'm using the latest version 15.6.44. These files didn't show up before (I skipped 15.6.31 and used 15.6.11-beta before). The project is a new .NET Core csproj format. This shows also files from imports, at least for some file types (including txt).

[2018-02-28 22:43] lifengl opened #224 "Low priority: ETW event ArgsMismatches"
not a problem when ETW trace is not enabled.

But when I turn it on to investigate potential lock contentions,  I notice contentions in the AsyncReaderWriterLock, but further investigating shows it is more artificial when I turn on ETW events.

It seems that ReaderWriterLockIssued event will run into some logic in EventSource to write args mismatches messages, and it runs into other lock contentio

[2018-03-01 06:50] #223 closed

[2018-03-16 04:49] AArnott opened #226 "VSTHRD010 mis-fires when calling async method"
The VSTHRD010 analyzer will misfire on `ShowToolWindow` in the sample below when adding the call to the async method that switches itself to the main thread:

[code]

This would be a regression from #220 which merged into master and even 9869911fe which merged the same into v15.7

[2018-03-28 18:20] lifengl opened #228 "CPS lock aware JTF doesn't work correctly, when RaiseTransitioningEvents is not fired"
We noticed some JoinableTask/Project lock hangs due to the JTF holding a lock (and switching to UI thread) is not added to the lock service collection, even those JTFs are created with the lock aware JTF factory.

It is caused by a special optimization logic in JTF library. (https://github.com/Microsoft/vs-threading/blob/master/src/Microsoft.VisualStudio.Threading/JoinableTask.cs)
`
if (mainThread

[2018-04-03 12:35] sharwell opened #230 "Allow single-method exclusions for main thread affinity"
Some types which are generally restricted to the main thread have methods which can be called from other threads.

Examples:

* `Control.Invoke`
* `Control.BeginInvoke`
* `Control.InvokeRequired`

Currently exclusions to the main thread requirement only apply to types, so these members can't be conditionally excluded.

:memo: It should be possible to exclude properties either by the property name

[2018-04-03 12:38] sharwell opened #231 "Inherit thread affinity from base types and members"
* Types derived from a type that requires the main thread should also have a main thread requirement
* Members derived from a member that requires the main thread should also have a main thread requirement

Then as a follow-up to the above:

* Members which have a main thread requirement due to inheritance should not report a warning if they are missing a `ThrowIfNotOnUIThread` call

[2018-04-03 12:39] sharwell opened #232 "Support thread affinity tracking for events"
* Attaching a handler to an event with main thread affinity should mark the handler as called from the main thread
* Invoking an event with main thread affinity should be treated as an invocation that requires the caller to be on the main thread

[2018-04-04 18:06] AArnott commented on #231
By a derived member are you talking about an `override` member?

I disagree. There is no guarantee that the caller has the threading analyzers applied to their project with the right analyzer turned to warning/error. At runtime something that requires the UI thread should still throw if it's not called on the UI thread in order to prefer throwing exceptions over deadlocking.

[2018-04-04 18:13] sharwell commented on #231
* `override`: Yes
* Explicit interface implementation: Yes
* Implicit interface implementation: Probably, but could be persuaded otherwise and may not be necessary. Biggest advantage would be code implementing an interface provided by some service, where the service only ever calls into the interface from the UI thread. By marking the interface and having it propagate to implementations, the analy

[2018-04-04 18:15] sharwell commented on #231
This is fine, but if the behavior is kept it should use a different diagnostic ID. Otherwise it's an overwhelming source of noise for code that defines hundreds or thousands of event handlers for UI events.

[2018-04-04 21:02] AArnott commented on #231
Event handlers I don't mind removing the requirement from under the conditions you proposed. It's members that are accessible in other ways that I think should still defend themselves from improper calling.

[2018-04-04 21:45] sharwell commented on #231
That seems more relevant for a library or application with a public API. For a contained application, it's just noise (all the entry points to affinitized code would be analyzed separately).

[2018-04-04 23:53] #221 closed

[2018-04-05 05:34] AArnott commented on #228
Your explanation makes sense. And I agree that removing the optimization would give CPS the chance to mitigate the deadlock.
I can't think of any reason the optimization was *required* as opposed to just being an optimization. So you could try removing it and if no tests fail, then it's probably safe to add a new test to cover at least one of the scenarios you identified above and check it in.

CC

[2018-04-06 00:02] AArnott commented on #230
The `ShellSettingsManager` class has two constructors, one of which is free-threaded and the other is not. After the ctor is invoked, the rest of the class is free-threaded.

[2018-04-06 04:42] sharwell opened #233 "VSTHRD110: Warn for asynchronous method not awaited"
Compiler warning CS4014 is only reported if the callee is marked with the `async` modifier (dotnet/roslyn#20782). It would be helpful if an analyzer expanded the analysis to cover cases where the method does not have this modifier (e.g. pass-through asynchronous methods).

[2018-04-06 05:38] AArnott commented on #233
Similar to #209

[2018-04-06 18:47] lifengl commented on #228
We checked in some workarounds in 15.7 to reduce JTF leaks.  Hopefully, that will reduce this issue. I can take a look the fix in JTF in 15.8.

[2018-04-10 15:49] sharwell opened #235 "Update awaiters to implement ICriticalNotifyCompletion"
This interface allows callers that preserve their own execution contexts to avoid a call to `ExecutionContext.Capture` and `ExecutionContext.Run` during an await operation.

* [x] `NoThrowTaskAwaiter`
* [x] `ConfiguredTaskYieldAwaiter`
* [x] `TaskSchedulerAwaiter`
* [x] `JoinableTaskFactory+MainThreadAwaiter`
* [x] `AsyncReaderWriterLock+Awaiter`
* [x] `AsyncReaderWriterResourceLock+ResourceAwaite

[2018-04-18 14:44] #226 closed

[2018-04-19 03:59] AArnott opened #242 "VSTHRD010 throws ArgumentNullException"
_From @maxperga on April 19, 2018 3:31_

Severity	Code	Description	Project	File	Line	Suppression State	Detail Description
Error	AD0001	Analyzer 'Microsoft.VisualStudio.Threading.Analyzers.VSTHRD010MainThreadUsageAnalyzer' threw an exception of type 'System.Exception' with message 'Analyzer failure while processing syntax at C:\git\WinAnyCode\Package\CommandHandler.cs(829,26): System.ArgumentNullEx

[2018-04-19 03:59] AArnott commented on #242
Thanks for reporting. What version of the analyzers do you have installed?

[2018-04-19 04:03] maxperga commented on #242
Sorry for forgetting about it.
I'm using v15.6.56-beta .

[2018-04-19 04:26] AArnott commented on #242
Thanks for reporting it. I haven't been able to reproduce this. I see you included source code, but it doesn't seem to match the exception message, which states the SyntaxNode being evaluated at the time was `ServiceProvider.GlobalProvider.GetService(typeof(IVsMonitorSelection));` Can you perhaps find this and more of its context to share so I can repro?

[2018-04-19 05:14] AArnott commented on #242
Hmmm... There is no 15.6.56-beta on nuget.org or anywhere else that I can see. Can you double-check that number? There is a 15.6.*4*6 (not beta). Is that the one you're using?

[2018-04-19 13:10] maxperga commented on #242
I provided you the version of the Microsoft.VisualStudio.SDK.Analyzers.
The version of the Microsoft.VisualStudio.Threading.Analyzers used is 15.6.46

[2018-04-19 13:12] maxperga commented on #242
About the function you mentioned above is:
        internal static bool IsUIContextActive(Guid context)
        {
            ThreadHelper.JoinableTaskFactory.SwitchToMainThreadAsync();

==>            var monSel = ServiceProvider.GlobalProvider.GetService(typeof(IVsMonitorSelection)) as IVsMonitorSelection;
            uint contextCookie;
            bool result = false;

[2018-04-19 15:50] AArnott commented on #242
Thanks. I'll look more into it today.

In the meantime, you're missing an `await` on your first line. `SwitchToMainThreadAsync` is ineffective if you don't actually *await* it. Since you're in a sync method, you'd need to make it async, or use `JoinableTaskFactory.Run` around the whole method body.

[2018-04-19 15:50] AArnott commented on #242
Or call `ThreadHelper.ThrowIfNotOnUIThread()` which is preferred over using JTF.Run since it won't block a background thread.

[2018-04-19 17:28] AArnott commented on #242
I'm unable to reproduce the problem with v15.6.46 using this file:
[code]

If you can send a full file that reproduces the problem (perhaps your original, or whittled down to the minimum required), I will be happy to continue to investigate. Otherwise I'm going to have to close this as not repro.

[2018-04-19 17:47] AArnott commented on #235
I'm working on this now.

[2018-04-19 18:32] AArnott commented on #235
For the `NoThrowTaskAwaiter`, offering `ICriticalNotifyCompletion` effected this change to a continuation's callstack. Note the drop from *two* `ExecutionContext.Run` frames to just one.

[code]

[2018-04-21 04:35] AArnott commented on #235
This issue can be closed when the two PRs linked above are merged.

[2018-04-25 14:56] #235 closed

[2018-04-25 20:06] #230 closed

[2018-04-26 11:50] sharwell opened #246 "VSTHRD010 does not provide location information for constructors"
When VSTHRD010 is triggered for a constructor, it appears the location information is lost so there is no way to know which constructor is impacted.

[2018-04-26 11:52] sharwell opened #247 "VSTHRD010 does not indicate the method requiring the UI thread"
VSTHRD010 currently reports diagnostics on the declaring symbol of of a member. It would be helpful if it instead reported the diagnostic on the first member reference within the method which require a UI thread.

1. This information could be used to figure out the transitive member triggering the diagnostic
2. This information could reveal false positives should any arise in the implementation or

[2018-04-26 11:55] sharwell opened #248 "VSTHRD109: Diagnostic for main thread assertion in an asynchronous method"
Currently no warning is reported for the use of `ThrowIfNotOnUIThread` on the first line of an asynchronous method. It would be helpful if a diagnostic was available to encourage users switch to using `SwitchToMainThreadAsync` instead.

[2018-04-26 14:46] MikielAgutu opened #249 "Broken link in Cookbook for Visual Studio"
The ['Async Package 101' link in Cookbook for Visual Studio ](https://github.com/Microsoft/vs-threading/blob/master/doc/cookbook_vs.md#how-can-i-initialize-my-vs-package-asynchronously) points to site that requires a Microsoft Corporate account to access. Seems like it's only accessible to MS employees?

The link provided in the markdown is:

https://microsoft.sharepoint.com/teams/DD_VSIDE/_layout

[2018-04-26 18:03] AArnott commented on #249
Thanks for raising this to our attention. We should be able to publish this document then update the link to it -- we just haven't done it yet.

[2018-04-27 17:08] AArnott opened #251 "Unstable test: SwitchToMainThreadCancellable"
From [this build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.7.16#L187):

The test failed with:

[code]

[2018-04-27 23:31] petcu40 opened #252 "Unexpected deadlock of R3 on R1 - W2 - R3 - W2timeout"
I’m trying to test the following scenario:

R lock – succeeds
W lock – waits (then times out)
R lock – waits initially (due to W priority) but I expect to be granted later.

Here is the picture:

![bug](https://user-images.githubusercontent.com/10169083/39388563-e246bd6e-4a35-11e8-84fe-195ecac78ebc.png)

So I expect the second R lock to succeed once the W request times out. But this does not happe

[2018-04-30 22:44] AArnott opened #253 "Analyzer should call out use of JTF.Run inside Lazy<T> value factory"
The [VSTHRD011](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD011.md) rule is closely related to this. It recognizes one abuse of `Lazy<T>` but not the other.

[code]

[2018-04-30 22:54] AArnott opened #254 "VSTHRD003 should flag awaiting Task from fields"
The following does not produce a diagnostic from VSTHRD003:

[code]

It seems VSTHRD003 only triggers when the `Task` is a local variable.

[2018-04-30 22:57] AArnott opened #255 "VSTHRD003 should flag awaiting Task assigned outside any method"
Awaiting a `Task` within an async method is dangerous regardless of whether JTF.Run wraps that particular method body. With that in mind, [VSTHRD003](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD003.md) should flag any `await task;` in an async method where `task` is a `Task` that not assigned in the same method.

[code]

This came up in a study of why awaiting a field

[2018-05-02 19:09] lifengl opened #256 "AsyncReaderWriterLock.Completion doesn't seem to be implemented correctly"
Not sure anyone uses that.  But it appears that this CompletionSource is not implemented correctly.  It is not being set when any read lock is released, or any request is cancelled after Complete() is called.

[2018-05-02 19:19] lifengl opened #257 "AsyncReaderWriterLock need allow a customized TaskScheduler"
Today, when it issues a lock later, it always uses the default task scheduler and run it in the thread pool.  Allowing a customized scheduler will make it possible for its consumer to control how to schedule the work.

[2018-05-02 19:38] AArnott commented on #257
I'm very curious why this is useful. When we use `TaskScheduler.Default`, we specifically *don't* want the continuation executed on the UI thread. Allowing the user to specify the `TaskScheduler` would allow them to violate that. Also, any other policy than the threadpool might take longer to execute and at this point the lock has been granted so we don't want to be slow in getting the lock holder

[2018-05-02 20:59] #252 closed

[2018-05-02 22:49] AArnott commented on #246
Is the scenario you're describing somehow different than this test, which shows location information is working at least for that scenario:

https://github.com/Microsoft/vs-threading/blob/7c88d6b0c82d5c0d57faae5f78790ec492d5d93c/src/Microsoft.VisualStudio.Threading.Analyzers.Tests/VSTHRD010MainThreadUsageAnalyzerTests.cs#L105-L120

[2018-05-02 23:01] AArnott commented on #246
Ah, I was able to reproduce your problem when the ctor is only being called out because of the new transitive feature.

[2018-05-02 23:27] sharwell commented on #246
Thanks, I wasn't 100% sure it was the constructor because it didn't have a location.

[2018-05-02 23:31] AArnott commented on #246
Well, in that case I'm doubly impressed you hypothesized correctly.

[2018-05-04 04:10] sharwell opened #263 "Type check should not be detected as access"
### Steps to reproduce:

Use the following configuration:

[code]

Then try to do a type check for `ComboBox`:

[code]

### Expected result

The method is not expected to use the main thread due to the type check.

### Actual result

The type check is detected as an access.

### Details

Only type checks against COM objects (with the `[ComImport]` or `[TypeLibType]` annotations) should be treated

[2018-05-05 17:45] AArnott commented on #255
Maybe we should also flag when the field is assigned to begin with, and offer a code fix to make it a JoinableTask insetad.

[2018-05-06 00:41] AArnott opened #267 "Unstable test: WithCancellationNoDeadlockFromSyncContext_Canceled"
This test [failed on appveyor](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.8.65-beta+gce6e0699c5.R#L889), with this output:

[code]

[2018-05-06 01:32] AArnott opened #269 "Unstable test: DequeueCancellationAndCompletionStress"
[This appveyor build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.8.66-beta+g6c7e967183.R#L976) records a test failure:

[code]

[2018-05-06 19:48] sharwell opened #270 "VSTHRD010 throws InvalidCastException when span is ambiguous"
[code]

[2018-05-06 20:08] AArnott commented on #270
What version was this on? Repro steps?

[2018-05-06 20:10] sharwell commented on #270
Version 15.8.64-beta

Repro steps are unclear. I have a locally-modified checkout of GitExtensions. Prior to adding some calls to `ThrowIfNotOnUIThread` I wasn't even able to get a build (csc.exe exited with code 1). At some point a Fix All produced the above failure with a stack trace, which I'm hoping was _somehow_ the cause of the other failures.

[2018-05-06 20:19] AArnott commented on #270
I don't think a code fix provider could possibly cause a compile break, since fixers aren't run during compilation. Even the analyzer isn't supposed to break a compilation -- it's just emitted as a failure and it goes on. But of course if we can fix this, we should.

[2018-05-06 20:54] AArnott commented on #270
From the location the exception must have been thrown from I can only speculate that the way the BatchFixer does its work is to invoke one fix after another, even though the locations of diagnostics can be outdated, resulting in a fixer being run on a bad location. The diagnostics are always placed on expressions, but somehow the pointer ended up being on an argument.

I'm not sure how to defend a

[2018-05-07 00:52] sharwell commented on #270
Found a way to reproduce this:

1. Add `[System.Windows.Forms.*]` to the set of members requiring main thread
2. Pass `(Control)sender` as the argument in a call

The span of the expression and argument are the same, so when the code fix operation attempts to locate the expression it finds the wrong syntax node.

[2018-05-07 00:53] sharwell commented on #270
The batch fixer applies all fixes to the original code, and then merges the results.

[2018-05-07 03:25] AArnott commented on #270
I wondered if that would be a problem at first, but then I figured that the argument syntax would have to be larger because it would include the trailing comma. I'll have to find the node I want be walking down the tree, I guess.

[2018-05-07 04:37] #270 closed

[2018-05-07 22:55] #248 closed

[2018-05-07 22:55] #263 closed

[2018-05-08 14:22] AArnott opened #272 "Add thread affinity labeling attributes"
### Problem statement

Our newly data-driven VSTHRD010 rule still requires that when any individual type becomes free-threaded, that it must opt out of the namespace rule via an out of band data file. It also doesn't lend easily to affinity flags that vary depending on the version of VS being targeted.

By improving thread affinity labeling of types in the VS SDK, we can increase the confidence th

[2018-05-08 14:40] AArnott commented on #272
@BertanAygun @lifengl @ikeras  I'd appreciate your review of this proposal.

[2018-05-08 16:14] BertanAygun commented on #272
I like the idea of this information living with the code. For most usage cases I assume the attributes would be on service interface definitions mostly I am guessing and having those should help to show that info in docs as well. We would still need the additional files support though due to PIAs.

As to the open question, I would prefer attributes taking precendence all the time if there is confl

[2018-05-08 16:28] AArnott commented on #272
@sharwell: Can you elaborate? I don't think calling `ThreadHelper.CheckAccess()` causes a method to be marked as requiring the UI thread. It certainly isn't *supposed* to, AFAIK.

@BertanAygun: service interface definitions aren't the types that services are cast to, so they'd never be checked for attributes. The attributes have to be defined on types or members that actually get invoked (or cast

[2018-05-08 16:32] ikeras commented on #272
I also like the idea of attribute annotations, as keeping them up to date is much more likely. In terms of precedence though, I would have thought that an external confg file would take precedence. That way if a type or method is incorrectly marked, it's possible for the consumer to override it via the config file.

A few questions:

1. Your list of order precedence doesn't start with the member i

[2018-05-08 16:35] sharwell commented on #272
@AArnott This method is getting incorrectly treated as requiring the UI thread:
https://github.com/gitextensions/NBug/blob/e6d751dc614f408d05d288688de5b808ce4a1eee/NBug/Core/UI/UISelector.cs#L26

[2018-05-08 16:44] AArnott commented on #272
@ikeras asked:

The list is preceded by this qualification, which I think brings its behavior in line with your expectations:

@ikeras asked:

Yes.

If there comes such a time we need to distinguish these, we're hosed anyway. At that point, we have distinct `JoinableTaskContext` instances that have different significant only discernible at runtime. Static analysis cannot longer tell us whether som

[2018-05-08 16:46] AArnott commented on #272
@sharwell: transitive propagation of UI thread requirements only happens when an explicit "throw if not on UI thread" method is invoked within that method. If we otherwise detect what we believe to be thread affinity in a method, it's kept local and you only get the warning locally within that method. I assume the method you link to is the latter (merely a local detection) in which case, I'd have

[2018-05-08 16:53] ikeras commented on #272
@AArnott I'm fine w/ the additional files model, since it's what the rest of the analyzers use anyway (to annotate types that you don't have access to the source for). I mentioned the Debugger attribute approach only because it has the nice attribute that if you misspell a type, or stop referencing it, it catches at build time vs. an additional file.

I mentioned constructors because it was missin

[2018-05-08 17:58] AArnott commented on #272
Yes, I saw that... just forgot to fix it till now. Thanks.

[2018-05-09 06:26] lifengl commented on #272
I like the idea.  For the enum value, Adrian happened to mention to me a 2nd party API, which cannot be called in the UI thread.  That sounds somewhat strange for a public API, but internally, we do have methods, which are not expected to be used in the UI thread. (Often it might work but could lead into performance problems.) Or, the method works in both threads, but repeatedly using it in one of

[2018-05-09 14:19] AArnott commented on #272
Thanks for reviewing, @lifengl. Must these methods synchronous such that the caller has to be aware of this? Or can they be async and switch on their own?

[2018-05-09 18:59] AArnott commented on #184
It just [failed again](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.6.60+gc2cfc7ae7f#L260):

[code]

[2018-05-10 19:09] jstutson commented on #233
This is needed so so very much especially for solutions undergoing a conversion to async patterns.   Very often you will change a method to return Task with no intention of it ever being fire-and-forget.  You must then very carefully find all usages of the method up the chain and ensure that all callers await the call.  Those callers then become async and so on and so on.  Without an analyzer for

[2018-05-10 20:05] AArnott commented on #233
Your `NoWait()` extension method sounds analogous to the `Forget()` extension method that we define within this project.

I should be able to get to this feature request in the next week.

[2018-05-11 18:52] lifengl opened #274 "JoinableTask can be leaked easily through ExecutionContext, and causes task results to be leaked"
ExecutionContext is copied very often in any place to create a task continuation, or spin off an execution.  The context will capture the current ambient task, and hold it even the task has been completed for a long time.  This can easily leak the task result, which can be very big.

[2018-05-11 19:32] AArnott opened #275 "VSTHRD010 generates diagnostics in async methods when calling other async methods"
#### Describe the bug
[code]

The only warning should be in `Reset` (or the method it calls). Once that is resolved by asserting the thread, it should propagate to its immediate caller (`FirstAsync` in the above sample). It should not propagate to `SecondAsync` since the fix for `FirstAsync` is to switch to the required thread rather than assert.

#### Expected behavior

VSTHRD010 thread affinity

[2018-05-11 19:34] sharwell commented on #275
So I _haven't_ been going crazy then 😆

[2018-05-11 19:35] AArnott commented on #274
@lifengl adds:

It is only when JTF.RunAsync<T>/JTF.Run<T> is used.   When T is a simple value, it is generally not a problem.  But when T is a complex value, it can be a problem.

For example

[code]

If the background thread is long running thread, the returning value of the JTF task will be leaked.  Of course, generally, we don’t start a such task inside a JTF task.  Often, it happens when we i

[2018-05-11 19:36] AArnott commented on #275
Ya, when I saw this today I thought about your report the other day.

[2018-05-11 21:14] AArnott commented on #275
Hmmm... It's not as simple as the repro above. My test that does the above isn't failing. Still looking...

[2018-05-11 22:49] AArnott commented on #275
OK, I found a repro. Updated above.

[2018-05-12 14:41] AArnott opened #277 "VSTHRD010 bulk fix doesn't work"
In a document with multiple methods that violate VSTHRD010, when trying to apply a bulk fix to the entire document, only one fix is offered.

- Version used: v15.8.72-beta
- Application (if applicable): Dev15.7

[2018-05-12 15:49] sharwell commented on #277
Given #275, we could change the analysis to not be a Compilation End analyzer and maybe fix this and some other usability issues at the same time.

[2018-05-12 20:16] AArnott commented on #277
It has to be a compilation end analyzer for the transitive analysis, even if it is only one level deep.

[2018-05-12 21:39] sharwell opened #278 "Warn if affinity does not match base member"
An analyzer should be provided that reports a warning in the following situation:

* A member `d` overrides a member `x` implements or implements an interface member `y`
* `d` is thread-affinitized
* `x` or `y` is not thread affinitized

This situation can easily occur when applying fixes to warnings reported by VSTHRD010. Failure to correct the base member as well will lead to situations where an

[2018-05-13 03:42] sharwell opened #279 "Analyzer assemblies must have a new version with each release"
#### Bug description

Currently the analyzers assembly is using a versioning policy where the AssemblyVersion is set to major.minor.0.0. This versioning policy makes it impossible for the build to ensure the correct version of this assembly is used in builds involving mixed version references. Every release of an analyzer assembly must increment the version relative to all previous versions to ens

[2018-05-13 04:53] AArnott commented on #275
I've updated the "expected" behavior in the bug description to match what I settled on after studying this problem more. I'm open to feedback.

[2018-05-13 04:57] AArnott commented on #279
This has bitten me several times lately as well, and I have to restart VS to get the new analyzers running after an update. We can fix this.

[2018-05-15 04:26] #279 closed

[2018-05-15 15:56] AArnott opened #282 "Unstable test: KeysCollectable"
In [this appveyor build](https://ci.appveyor.com/project/AArnott/vs-threading/build/15.8.81-beta+R#L983), the test failed with this output:

[code]

[2018-05-18 17:14] #257 closed

[2018-05-30 18:12] AArnott opened #284 "Allow `await TaskScheduler.Default` to reuse JTF.Run thread when on the threadpool"
An idea to consider, to help alleviate threadpool starvation.

[2018-05-31 15:36] AArnott opened #286 "VSTHRD010 fires within a `VsTaskLibraryHelper.StartOnIdle` delegate"
We need a way to get VSTHRD010 to recognize that delegates passed to `VsTaskLibraryHelper.StartOnIdle` are always invoked on the main thread.

[2018-05-31 20:58] AArnott opened #287 "Analyzer should report on `IVsTask.Wait()` inside an async method"
Async methods should not call `IVsTask.Wait()` or `IVsTask.GetResult()` but instead should simply *await* the `IVsTask`.

The VSTHRD002 or VSTHRD103 rules, or a new one perhaps, may be the best place to raise a warning when not awaiting an `IVsTask` from an async method.

Note it's OK to call these synchronously blocking methods from synchronous methods, since `IVsTask` mitigates its own deadlocks

[2018-06-01 18:46] AArnott opened #288 "Threading doc improvements"
@vukelich has two suggestions:
* [ ] Quick dictionary for some of the major terms. "Join"/"Joinable" was something I think seemed to cause confusion, for example.
* [ ] A diagram that shows the relationship between the JTF, a joinable collection, a joinable task, regular Tasks and TaskCompletionSources, and how these prevent or cause a hang by violating rule #3.

[2018-06-05 17:08] lifengl opened #290 "AsyncLazy depends on the thread pool unnecessary"
AsyncLazy use ConfigureAwait(false) in its wrap of the valueFunction.  This sometime leads into an unnecessary extra thread switching.  That issue defeat the benefit of priority read lock thread in the case where AsyncLazy is being used.

                                return await originalValueFactory().ConfigureAwait(continueOnCapturedContext: false);

[2018-06-05 17:15] lifengl commented on #274
It is more than spinning off a task.  More often, it is the lazy initialization code to chain up data source completion, or long term cancellation token registration (like project unloading cancellation token).  All those will capture the current ExecutionContext, and apply them much later (often at the end of the session).  That leads it to capture whatever the current JTF task, which happens to

[2018-06-05 18:43] AArnott commented on #290
Without this, the value factory may or may not include a UI thread dependency at the end based on whether the first person to pull on that value was on the UI thread.

We have the `JoinableTask.AwaitShouldCaptureSyncContext` static property that we use in some places of the library to get the `bool` to pass to `ConfigureAwait` that tries to get the best of both worlds: it uses `false`, except when

[2018-06-05 22:39] lifengl commented on #290
Yes, we do want the ending logic of the AsyncLazy to be inline with the valueFactory function.  I am preparing a potential fix.

[2018-06-07 02:46] #209 closed

[2018-06-07 02:46] #233 closed

[2018-06-07 03:02] #290 closed

[2018-06-08 18:08] AArnott opened #295 "JTF-aware, reentrant semaphore"
#### Is your feature request related to a problem? Please describe.

Several teams have had the need for a JTF-aware, re-entrant, async semaphore. This is possible to construct given the APIs already available but it is very tricky and requires thorough testing.

#### Describe the solution you'd like

Offer a new class to serve this purpose from the vs-threading library. There are several use case

[2018-06-08 18:08] AArnott commented on #295
CC: @MTBandolier

[2018-06-10 01:56] AArnott commented on #295
@lifengl @MTBandolier I'd welcome your feedback on the proposed design above.

[2018-06-11 16:41] MTBandolier commented on #295
This seems like a nice collection of operating modes, offering a broad array of facilities for those wanting various levels of reentrancy support, or detecting undesired reentrancy without incurring deadlock.

For my use case, ```ExitInReverseOrder``` sounds perfect.

[2018-06-12 22:17] lifengl commented on #295
sounds good, you might want to expose a new API to suppress the semaphore context for any spin-off tasks, just like what has been supported in the ARWL and JTF.

[2018-06-12 22:56] AArnott commented on #295
I've updated #296 with your idea, @lifengl

[2018-06-13 02:33] #287 closed

[2018-06-16 20:26] AArnott opened #298 "Analyzer should produce error when awaiting an expression including a null-conditional operator"
#### Is your feature request related to a problem? Please describe.

I occasionally see code such as this:

[code]

This will throw `NullReferenceException` if `foo` is null.

#### Describe the solution you'd like

An analyzer should produce an error when code like the above is encountered.
Note that this syntax however would be OK:

[code]

We should also make sure the code fix for VSTHRD002, VST

[2018-06-18 02:51] #295 closed

[2018-06-19 01:58] AArnott commented on #277
@mavasani @heejaechang Any ideas? I'm seeing this for the [VSSDK006 analyzer I just introduced](https://github.com/Microsoft/VSSDK-Analyzers/pull/68) as well.

[2018-06-19 18:47] heejaechang commented on #277
are you sure you are giving same equivalent key?

http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/CodeActions/CodeAction.cs,48

fix with same equivalent key is considered  for fix all

[2018-06-19 18:48] heejaechang commented on #277
once you have diagnostic and fix offered, FSA shouldn't affect whether you can do "fix all or not"

[2018-06-19 19:53] AArnott commented on #277
Fascinating, @heejaechang. I thought the equivalence key was supposed to be unique for each diagnostic that a code fix is offered for. So I've gone to lengths to ensure they're deterministic for a given diagnostic but unique across them. Is there good documentation to describe what equivalence keys are for and how exactly they should be derived?

[2018-06-19 19:56] AArnott commented on #277
I guess that xml remarks section is pretty good docs, but it's not discoverable, since Roslyn doesn't include that information in the data tip.

[2018-06-19 19:56] heejaechang commented on #277
@mavasani should have written about it somewhere.

[2018-06-19 20:01] mavasani commented on #277
https://github.com/dotnet/roslyn/blob/master/docs/analyzers/FixAllProvider.md#selecting-an-equivalence-key-for-code-actions

We do include this link in the stub fixer code generated by Analyzer + Code fix template.

[2018-06-19 20:13] AArnott commented on #277
Thanks. I don't use the template since I already have a project full of analyzers and a pattern that I copy and paste for each new one. Back in the day, I'm not sure these templates were around or we didn't know about them.
This write-up looks great though. Thank you, @mavasani and @heejaechang

[2018-06-19 20:22] AArnott commented on #277
See, now here's my problem: the C# warning seems to be misleading. It is exactly why I started making unique equivalencekey's:

When a code fix provider only offers a single kind of fix, an equivalence key is unnecessary from what I've just learned. But the warning suggests that I need to be sure I produce a key that is unique across all code actions created by this fixer (which tells me, my fixer

[2018-06-19 21:05] mavasani commented on #277
`code actions created by this fixer.`

I actually meant unique to each class of code actions registered by a fixer. Sure we can improve the wording to add clarity.

[2018-06-19 21:07] mavasani commented on #277
@AArnott Sorry, the poor wording led you down the wrong path. Can you file an issue on roslyn-analyzers to correct it (or send a PR)? Thanks again.

[2018-06-19 22:29] sharwell commented on #277
My understanding is the (diagnostic ID, equivalence key) pair defines the "bucket" for all operations that should be applied as a unit for Fix All.

[2018-06-24 13:26] KristianWedberg opened #301 "VSTHRD002: Don't warn when getting Result on completed task"
#### Bug description
VSTHR002 warns even though the task has been checked for completion or have been awaited.

It should _not_ warn in these cases, since the task is provably completed, and `Result` therefore
is safe to use.

Not warning is important since the below is a common performance optimization - retrieving
`Result` on a completed task is roughly 2x faster than awaiting the completed task

[2018-06-24 15:36] AArnott commented on #301
Yes, I agree we should be smarter for this analyzer and not report where it's clear from code inspection of the method that the task has already completed. We've done *some* work in this area already (e.g. #219). What you ask for generally requires execution flow analysis, which the Roslyn API does not yet offer but I hear is coming. Our plan has been to address it then. However some common cases

[2018-06-25 11:48] KristianWedberg commented on #301
@AArnott All good points, my repo above was minimalistic.

On performance, the differences certainly only matter with high volume and when a completed task is much (in my case +10,000 times) more common than an incomplete task. In my tests below, without `ConfigureAwait()` the difference is a negligible **14%**. In my library though I use `ConfigureAwait(false)` everywhere, which makes it about **

[2018-06-25 18:18] AArnott commented on #301
Have you filed a bug over at [dotnet/corefx](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+configureawait+slow) for the slowness from `.ConfigureAwait(false)`? 400% slowdown seems incredibly high for a completed task.

Also, if you own the async method you're calling, given it usually is completed before returning have you considered using `ValueTask<T>` instead of

[2018-06-25 19:10] KristianWedberg commented on #301
Good suggestion, I'll file it.

Yes, I use cached tasks. And `ValueTask<T>` has certainly been a life save in some other places!

Cheers,
Kristian

[2018-06-25 22:02] KristianWedberg commented on #301
Filed as https://github.com/dotnet/corefx/issues/30655, with additional tests and detail.

[2018-06-29 03:41] sharwell commented on #301
:thought_balloon: A `CompletedResult` method which throws if the task is not completed would help write clear (readable) code and also avoid this issue.

[2018-06-29 05:19] AArnott commented on #301
I like it. In fact I already have such an extension method (I think I called it `GetResultAssumeCompleted()`) for my own code clarify and enforcement. Adding such a method to vs-threading may be a good idea. But we might make the analyzer allow any method with that name regardless of where it comes from so that it can work on downlevel versions of VS.

[2018-07-02 04:36] AArnott commented on #253
We should probably rename VSTHRD011 to "Use `AsyncLazy<T>`" or something more generic than "Don't use `Lazy<Task<T>>`" so that we can have it generally evangelize the pattern that avoids deadlocks.

[2018-07-02 17:49] #253 closed

[2018-07-02 17:51] #277 closed

[2018-07-03 04:38] #242 closed

[2018-07-03 04:42] AArnott commented on #64
This won't prevent bugs, so it's a low priority.

[2018-07-03 04:42] #64 closed

[2018-07-03 05:10] AArnott opened #305 "VSTHRD003 should report any time a Task from another context is awaited"
VSTHRD003 only reports diagnostics for awaits that occur within obviously (syntactically) `JoinableTask` contexts. But in fact *any* async delegate may be invoked within a JoinableTask context that isn't obvious to the compiler, and as such we should be reporting the diagnostic for all these to avoid deadlocks.

We must be careful though to not start firing diagnostics even for legitimate code whe

[2018-07-03 15:38] AArnott opened #306 "Analyzer to suggest using ReentrantSemaphore instead of task chaining"
#### Is your feature request related to a problem? Please describe.

People regularly use task chaining to accomplish a serialized, in-order execution of arbitrary operations. For example:

[code]

This trivial example doesn't support `Func<Task>` functions, and doing so properly is tricky. Avoiding deadlocks in this pattern is particularly tricky as it must be made compliant with the 3rd threadin

[2018-07-05 18:42] qidydl opened #310 "Identify minimum required version for referenced APIs"
#### Bug description
Some of the APIs/methods called out in the documentation appear to have been added recently, and as a result are not available even when targeting a slightly older version of VS2017. It would be nice if the documentation noted what version you must be referencing to use certain features, and even better if it identified workarounds/"polyfills" to use on older versions.

#### R

[2018-07-06 18:28] AArnott opened #311 "v15.7 releases update assembly version of main assembly"
#### Bug description

The v15.7 package versions for `Microsoft.VisualStudio.Threading` should have kept the assembly version at 15.6 to match what VS was shipping and to reflect that no additional API was added.

#### Repro steps

1. Install the latest 15.7.x versioned `Microsoft.VisualStudio.Threading` package into a VSIX that targets VS 15.7 and use the assembly in some way.
1. Run the VSIX ext

[2018-07-06 20:40] #311 closed

[2018-07-07 01:08] AArnott commented on #132
It seems the problem might be that everyone joins and adds themselves to the collection for the duration of their interest in the lock.
Might we reduce the problem by:
1. When waiting in the queue, *join* the collection.
1. When the semaphore is received, disjoin the collection and add self as member to the collection.

This way, membership in the collection is limited to just about 1 element. And

[2018-07-07 01:34] jviau commented on #132
In your proposal, are you in a `RunAsyn` while awaiting the semaphore? I think that is a large contribution to this issue. However, due to the way semaphores work, to remove the `RunAsync` while awaiting the semaphore, you use must `ConfigureAwait(false)` (or the new inline extension method). This poses a problem when you have a contract that promises execution on the thread it was started on. I p

[2018-07-07 02:02] AArnott commented on #132
No. So the "join" is only effective if the caller happened to have created a JoinableTask themselves. And if they didn't, they'll never block the UI thread waiting for the semaphore and thus there's no reason to join anyway.

And yes, after writing this comment I started reviewing your PR and see that's effectively what you're doing. :)

[2018-07-09 16:39] lgolding opened #314 "Some instances of VSTHRD010 do not report the location of the error."
#### Bug description
Some instances of VSTHRD010 do not report the location of the error. Here's an example:
[code]
Note that the message begins with "CSC:" and does not tell me the file name or line number.
#### Repro steps
Steps or code to reproduce the behavior:
1. `git clone https://github.com/Microsoft/sarif-sdk`
2. cd to the root of the repo.
3. `git checkout -b origin/users/lgolding/vsthrd0

[2018-07-12 05:42] #255 closed

[2018-07-12 05:42] #305 closed

[2018-07-12 20:59] AArnott opened #316 "Code fix for VSTHRD109 should be offered"
#### Is your feature request related to a problem? Please describe.

No code fix is offered for VSTHRD109, aside from simply suppressing the message.

#### Describe the solution you'd like

Given a Task-returning method that calls `ThreadHelper.ThrowIfNotOnUIThread()`, a code fix should be offered with the VSTHRD109 diagnostic to switch to `await ThreadHelper.JoinableTaskFactory.SwitchToMainThread

[2018-07-16 18:38] lifengl opened #318 "Performance: asyncLockRelease.Dispose could be blocked, when a new lock is issued"
To reduce the problem that asyncLockRelease.Dispose() blocks the current thread, until the inner task finishes (which essentially requires 2 thread pool threads to finish the entire work (for exclusive lock), which increase thread pool issues).  We start to call "await lockReleaser.ReleaseAsync()" before disposing the lock.  However, the new pattern may increase the chance to run into a performanc

[2018-07-18 05:58] sharwell commented on #314
Duplicate of #246

[2018-07-18 14:43] AArnott commented on #314
Agreed. This is fixed in the 15.8 release of the analyzers.
Thanks, @sharwell, and @lgolding for your report.

[2018-07-18 14:43] #314 closed

[2018-07-18 22:49] lgolding commented on #314
Thanks all, and thanks for the pointer to the version with the fix.

[2018-07-20 17:31] #318 closed

[2018-07-25 13:59] AArnott opened #323 "Offer a single-threaded SynchronizationContext implementation"
#### Is your feature request related to a problem? Please describe.

On .NET Core there is no single-threaded `SynchronizationContext` to use, thereby making `JoinableTaskFactory.SwitchToMainThreadAsync()` no-op. Even .NET Core 3.x won't help everyone since they may be running on non-Windows platforms.

Also when unit testing a library that runs in a GUI app, it requires some significant setup to

[2018-07-25 14:02] AArnott opened #324 "Offer a SynchronizationContext implementation that throws when posted to"
#### Is your feature request related to a problem? Please describe.

@sharwell reports that in testing he finds it useful to define a `SynchronizationContext` implementation that throws when `Post` is invoked, thereby causing tests to fail if they run any code that tries to switch to the main thread (where he expects them to run free-threaded, I think).

#### Describe the solution you'd like

Offe

[2018-07-26 23:16] sharwell opened #325 "VSTHRD003 should be reported for ConfigureAwait(true)"
#### Bug description

[VSTHRD003](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD003.md) is only reported for cases where `ConfigureAwait` is not used. Presumably, this is because `ConfigureAwait(false)` is safe in these cases. However, `ConfigureAwait(true)` should be handled in the same manner as a task that does not use `ConfigureAwait` at all.

<details><summary>Rema

[2018-07-27 03:11] AArnott commented on #325
`ConfigureAwait(false)` is *not* safe, since the Task itself could require the UI thread to complete.

This is just an oversight. Thanks for reporting.

[2018-07-27 04:15] sharwell commented on #325
Do you have an example for this? It seems that it wouldn't be a problem because the caller would yield.

[2018-07-27 04:18] sharwell commented on #325
Oh nevermind. The failure wouldn't occur at the point of the `await`, but the warning is issued because it's the only place where the problematic situation can be readily identified through static analysis.

[2018-07-28 17:38] sharwell opened #326 "SwitchToMainThreadAsync is missing an alwaysYield overload"
`MainThreadAwaiter` has an `alwaysYield` field which is handy in the conversion of code using `BeginInvoke` to post asynchronous operations to the main thread. Unfortunately, there is no way for external code to create an awaiter with this field set to `true`. I would propose the following method be added to `JoinableTaskFactory`:

[code]

[2018-07-30 21:42] jp2masa opened #327 "[Bug] AD0001 warning: Analyzers throw InvalidOperationException"
#### Bug description
I get `AD0001` warnings when building a VSIX project, because of `InvalidOperationException`s on `VSTHRD010`, `VSTHRD0108` and `VSTHRD0109` (probably the exception is thrown by code used by all of them).

#### Repro steps
Didn't create a repro, but I guess this should repro the issue:
[code]

#### Expected behavior
No `AD0001` warnings.

#### Actual behavior
When building, I g

[2018-08-02 13:17] sharwell opened #328 "Code fix for VSTHRD103 removes assertion"
#### Bug description

The code fix for VSTHRD103 removes an assertion, leaving the result invalid.

#### Repro steps

[code]

#### Expected behavior

[code]

#### Actual behavior

[code]

- Version used: Analyzers 15.8.132
- Application (if applicable): Visual Studio 2017 version 15.8 Preview 5

[2018-08-02 13:34] sharwell opened #329 "Code fix for VSTHRD103 doesn't handle nested awaits properly"
#### Repro steps

[code]

#### Expected behavior

[code]

#### Actual behavior

[code]

- Version used: 15.8.132
- Application (if applicable): VS 15.8 Preview 5

[2018-08-03 16:12] sharwell opened #331 "Treat 'Synchronously' as a suffix for synchronous methods"
#### Is your feature request related to a problem? Please describe.

Roslyn uses the following method pairs in some cases:

[code]

#### Describe the solution you'd like

It would be nice if the existing analysis for usage of asynchronous methods considered the naming convention above as a pair, similar to the current treatment of `SomeMethod`/`SomeMethodAsync` as a pair.

#### Describe alternativ

[2018-08-05 02:46] sharwell opened #332 "Allow extensions for VSTHRD001 (Avoid legacy thread switching APIs)"
#### Is your feature request related to a problem? Please describe.

VSTHRD001 reports violations for use of _specific_ thread switching APIs. For applications that abstracted this and are working to incrementally switch to newer APIs, it would be nice to add the custom abstraction to the set of APIs recognized by VSTHRD001.

#### Describe the solution you'd like

A similar approach to that taken

[2018-08-07 05:55] AArnott commented on #327
I couldn't repro this. Can you repro on the latest (stable) 15.8 version of the analyzers?

[2018-08-07 15:44] sharwell opened #344 "Allow extensions for VSTHRD002 (Avoid problematic synchronous waits)"
#### Is your feature request related to a problem? Please describe.

VSTHRD002 reports violations for use of _specific_ synchronous waiting APIs. For applications that abstracted this and are working to incrementally switch to newer APIs, it would be nice to add the custom abstraction to the set of APIs recognized by VSTHRD002.

#### Describe the solution you'd like

A similar approach to that tak

[2018-08-07 16:06] jp2masa commented on #327
I think I found the problem, I'm using `Microsoft.VisualStudio.ProjectSystem` version `15.8.202-pre` and it has a `vs-threading.MainThreadAssertingMethods.txt` file with the following content:
[code]
but it should be:
[code]
The `vs-threading.MainThreadSwitchingMethods.txt` file is wrong as well.

[2018-08-07 16:32] AArnott commented on #327
Nice catch. @adrianvmsft, is this going to be fixed in a subsequent 15.8 release of the CPS nuget packages? The master branch of the CPS repo already has the fix, but perhaps it simply hasn't shipped yet?

[2018-08-07 16:35] #332 closed

[2018-08-07 16:44] #328 closed

[2018-08-07 16:44] #329 closed

[2018-08-07 16:58] AArnott commented on #331
I'm a bit hesitant to accommodate a single repo's non-standard naming pattern.
Can we think of a data-driven way to make this work, perhaps?

[2018-08-07 17:02] sharwell commented on #327
@AArnott would you be fine with the deserializer recognizing this:

[code]

and loading it as the following two items:

[code]

[2018-08-07 17:13] adrianvmsft commented on #327
We are working on publishing new CPS nuget packages, stay tuned.

[2018-08-07 19:07] AArnott commented on #327
@sharwell I'd rather not since IMO that would breed confusion where folks wouldn't know why both forms work. It would also make our analyzers run more slowly since there is a cost for each syntax node we visit and running through every element in this list (`O(n*m)`).

[2018-08-07 19:10] AArnott commented on #331
@sharwell I updated your problem statement to use the `ly` suffix, to be consistent with your issue title and PR.

[2018-08-08 02:58] sharwell opened #345 "Ensure assignment to a discard produces VSTHRD110"
#### Is your feature request related to a problem? Please describe.

The following code should produce a warning. Currently Roslyn is using discards in a few places to address CS4014 prior to updating the code to enforce VSTHRD110 (a more strict analyzer with the same intent). We should ensure that VSTHRD110 is reported for this scenario.

[code]

[2018-08-08 13:29] AArnott commented on #331
Are there a *lot* of these methods in the Roslyn public API? Or are these private methods that Roslyn can simply rename?

We might define an attribute that Roslyn could decorate methods with to identify the async alternative.

[2018-08-08 16:49] #326 closed

[2018-08-08 18:10] #254 closed

[2018-08-08 18:12] #325 closed

[2018-08-14 16:17] AArnott opened #352 "JoinableTaskSynchronizationContext should override CreateCopy()"
#### Bug description
The [default implementation on `SynchronizationContext.CreateCopy()`](JoinableTaskSynchronizationContext) returns a new instance of its own type.
But that type has very different behavior than `JoinableTaskSynchronizationContext`, so it would be incorrect to return the base type from our derived type.

#### Repro steps

I don't know what failures this may lead to yet. But give

[2018-08-14 19:06] weltkante commented on #352
I believe the problem mentioned in the WPF comments references [SynchronizationContextTaskScheduler TryExecuteTaskInline](https://referencesource.microsoft.com/#mscorlib/system/threading/Tasks/TaskScheduler.cs,679), though there may be more places which make this assumption which I don't know of.

The point is when ExecutionContext flows the SynchronizationContext it will call CreateCopy instead o

[2018-08-15 15:25] mthalman-msft opened #353 "Mismatch in line format documentation"
#### Bug description
The [Analyzer Configuration](../blob/master/doc/analyzers/configuration.md) documentation contains mismatches between the line format provided and the sample.  For example, in the "Methods that assert the main thread" section, it defines the line format as `[Namespace.TypeName]::MethodName` but the sample is `Microsoft.VisualStudio.Shell.ThreadHelper.ThrowIfNotOnUIThread` (i.e

[2018-08-15 17:28] #353 closed

[2018-08-15 17:28] AArnott commented on #353
Thanks for your report. I've updated the samples in the docs to match the spec given above them. If you find the sample worked and the `[]` syntax didn't, my guess is you're using an older version of the analyzers. In that case, I recommend you upgrade.

[2018-08-16 19:46] #274 closed

[2018-08-19 05:32] sharwell commented on #306
The thing that makes me the most uncomfortable here is the semantics of `ReentrantSemaphore`. I need to revisit that type to better understand it.

[2018-08-19 16:27] AArnott commented on #306
I'm interested in your feedback when you are ready to share it.

[2018-08-20 01:43] sharwell commented on #306
@AArnott task chaining is a frequent item I hit, and improving it would be a high value win IMO. You may be completely right about this analyzer already but I can be a tough sell so I really want to convince myself that the solution is good all around. Whatever path we use, I expect if we ever want to change it, it will be even harder than switching away from task chaining.

[2018-08-20 02:11] AArnott commented on #306
There may be more than one use case for task chaining. The one I'm interested in (and that hopefully the analyzer can be taught to recognize) is when it's used to limit concurrent execution to 1 without affinitizing to a particular thread.

[2018-08-20 14:25] #323 closed

[2018-08-29 21:53] AArnott opened #358 "Unstable test: ExecuteAsync_Contested"
The `ExecuteAsync_Contested` test [failed on AppVeyor](https://ci.appveyor.com/project/AArnott/vs-threading/build/16.0.42-beta+gb26dd38371.R#L908) with the following output:

[code]

[2018-08-29 22:10] AArnott commented on #184
And [again](https://ci.appveyor.com/project/AArnott/vs-threading/build/16.0.42-beta+gb26dd38371#L917):

    WaitWithoutInlining_DoesNotWaitForOtherInlinedContinuations [FAIL]
      Assert.True() Failure
      Expected: True
      Actual:   False
      Stack Trace:
        src\Microsoft.VisualStudio.Threading.Tests\TplExtensionsTests.cs(184,0): at Microsoft.VisualStudio.Threading.Tests.TplExtension

[2018-08-29 22:11] AArnott opened #360 "Unstable test: HangReportNotSuppressedOnLongRunningTaskJoinCancelled"
The `HangReportNotSuppressedOnLongRunningTaskJoinCancelled` test [failed on appveyor](https://ci.appveyor.com/project/AArnott/vs-threading/build/16.0.42-beta+gb26dd38371#L931):

[code]

[2018-08-29 22:12] AArnott opened #361 "Unstable test: HangReportNotSuppressedOnLongRunningTaskCompleted"
The `HangReportNotSuppressedOnLongRunningTaskCompleted` test [failed on appveyor](https://ci.appveyor.com/project/AArnott/vs-threading/build/16.0.42-beta+gb26dd38371#L937) with this output:

[code]

[2018-08-30 07:21] davkean opened #367 "Passing CancellationToken to ReentrantSemaphore could execute callback on wrong thread?"
First of all, thanks @AArnott and recent changes @jviau made, ReentrantSemaphore is exactly what we need for http://github.com/dotnet/project-system.

#### Bug description
Through code inspection, it appears that passing a CancellationToken to ExecuteAsync that is cancelled before it switches back the UI thread, could result in the callback being executed on a thread pool thread instead of the UI

[2018-08-30 10:29] sharwell commented on #367
The exception is thrown by `MainThreadAwaiter.GetResult()` during the completion of the `await` operation:

https://github.com/Microsoft/vs-threading/blob/87e58106bcd8ad50d2d6eb44a4b8f5b98dbddd23/src/Microsoft.VisualStudio.Threading/JoinableTaskFactory.cs#L802

[2018-08-30 15:29] AArnott commented on #367
Awesome! I'm glad you've discovered the class then.

What I think you're missing from the doc you reference is that `SwitchToMainThreadAsync` *throws* `OperationCanceledException` back at the continuation. So in fact `ReentrantSemaphore` doesn't execute the delegate at all when the token is canceled, but instead the `Task` returned from `ExecuteAsync` will fault with `OperationCanceledException`,

[2018-08-30 15:29] #367 closed

[2018-08-30 23:52] davkean commented on #367
Ah, I walked through the code and got as far as this: http://index/?leftProject=Microsoft.VisualStudio.Threading&leftSymbol=hyuxmvwxl8sv&file=JoinableTaskFactory.cs&line=708. I missed that other code. Thanks for updating the docs!

[2018-09-04 21:19] AArnott opened #369 "Remove VS-specific legacy thread switchers"
[As discussed](https://github.com/Microsoft/vs-threading/pull/339#discussion_r215070126), we should remove the VS-specific legacy thread switcher "additional file" from the master branch (v16.0) version of our analyzers since [the vssdk-analyzers package includes them](https://github.com/Microsoft/VSSDK-Analyzers/pull/73).

[2018-09-07 19:41] AArnott opened #370 "VSTHRD105: should not fire on TaskFactory.StartNew when custom task factory has preset scheduler"
#### Bug description
The VSTHRD105 rule should not fire when it sees `customTaskFactory.StartNew` when that `customTaskFactory` was instantiated with a `TaskScheduler` instance, since that makes `StartNew` without a task scheduler safe.
This makes the rule quite noisy for some code bases.

#### Repro steps

[code]

#### Expected behavior

No VSTHRD105 diagnostic produced.

#### Actual behavior

A

[2018-09-10 14:57] AArnott opened #373 "Code fix for VSTHRD010 builds invalid syntax tree"
#### Bug description

Per the discussion in https://github.com/Microsoft/vs-threading/pull/359#discussion_r216208485 with @sharwell, find the analyzer tests that ignore this error in our code fix using this language:

[code]

We should fix the bug and remove the test suppression.

[2018-09-11 12:25] kfertitta opened #375 "Pattern matching silences VSTHRD010"
#### Bug description
VSTHRD010 is not reported when pattern matching.

#### Repro steps
See code below.

#### Expected behavior
Rule violation should be reported.

#### Actual behavior
Rule violation is not reported when suggested code fix for pattern matching is applied.

#### Additional context

Violation is properly reported for the following:
[code]

Applying the suggested code fix for pattern

[2018-09-11 16:26] AArnott commented on #375
Thanks. Fixing this will require that our analyzers support the later C# versions which enabled this syntax. That will require either dropping VS2015 support or adding light-up support. @sharwell and I have discussed this and he's planning on bringing in light-up support, at which point we should fix this.

[2018-09-12 01:20] davkean opened #376 "AsyncDebugTools.dll not available in releases"
https://github.com/Microsoft/vs-threading/blob/master/doc/dumpasync.md states that AsyncDebugTools.dll is available from [releases](https://github.com/Microsoft/vs-threading/releases). I could only see zip releases of the repository however. I could only find cpsdbg.dll internally - which I'm guessing is an earlier version?

[2018-09-19 06:11] davkean opened #377 "VSTHRD004 incorrectly fires on results of methods are returned to the caller"
#### Bug description
VSTHRD004 incorrectly fires on results of methods are returned to the caller.

#### Repro steps
[code]

#### Expected behavior
VSTHRD004 not to fire because the result is returned to the caller.

#### Actual behavior
[code]

[2018-09-22 00:52] AArnott opened #380 "VSTHRD200 should consider ValueTask an async return type"
The VSTHRD200 analyzer recognizes that `Task`-returning methods should have an -Async suffix, but `ValueTask` returning methods are ignored. They should be treated equally: both should require have the Async suffix.

[2018-09-22 01:06] AArnott opened #382 "Close gap between vs-threading analyzers and AsyncUsageAnalyzers"
AsyncUsageAnalyzers, which the vs-threading analyzers package currently depends on for downstream users, contains some redundancy with what we contain ourselves. In addition, this project is making progress more rapidly than the AsyncUsageAnalyzers. Let's fill in what we're missing and break the dependency.

AsyncUsageAnalyzers | vs-threading analyzers | Notes
--|--|--
[AvoidAsyncSuffix](https://g

[2018-09-22 01:06] AArnott commented on #382
CC: @sharwell

[2018-09-22 01:46] AArnott opened #383 "VSTHRD200 should include AvoidAsyncSuffix checking"
The [AvoidAsyncSuffix](https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/blob/master/documentation/AvoidAsyncSuffix.md) analyzer prevents misuse of the Async suffix on methods that do not return an awaitable type. VSTHRD200 should incorporate that.

[2018-09-22 13:41] #383 closed

[2018-09-22 13:57] AArnott opened #385 "Analyzer proposal: VSTHRD111 Use ConfigureAwait"
#### Is your feature request related to a problem?

Some code bases, particularly libraries with no affinity to an app's UI thread, are advised to use `.ConfigureAwait(false)` for each and every _await_ because it can avoid deadlocks after those calls start on an application's UI thread and the app later decides to synchronously block the UI thread waiting for those tasks to finish. Note that this

[2018-09-22 16:33] #380 closed

[2018-09-22 16:43] AArnott commented on #373
@sharwell The *actual* assertion failure reported from this issue is *quite* opaque. It would be marvelous if this could give the enum value names instead of their ordinal values.

[code]

[2018-09-22 17:49] #385 closed

[2018-09-22 18:14] #373 closed

[2018-09-22 19:25] AArnott opened #388 "Unstable test: UpgradeableReadLockAsyncSynchronousReleaseAllowsOtherUpgradeableReaders"
[This Azure Pipelines build](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=221&view=logs) experienced a failure in the `UpgradeableReadLockAsyncSynchronousReleaseAllowsOtherUpgradeableReaders` test.

[code]

[2018-09-22 21:34] AArnott opened #389 "Unstable test: SetReturnsBeforeInlinedContinuations"
The `SetReturnsBeforeInlinedContinuations` test failed in [this Azure Pipelines build](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=227&view=logs) with this error:

[code]

[2018-09-22 22:08] #389 closed

[2018-09-22 23:52] AArnott commented on #376
I'm not sure how to automate inclusion of this in every release. But I've uploaded it to [this recent release](https://github.com/Microsoft/vs-threading/releases/tag/v15.8.168) so you can get it from there.

There are a few versions floating around. I'm not sure which version the cpsdbg.dll one is that you found internally -- it could be much older than this one. Or it might be the newer C# implem

[2018-09-22 23:52] #376 closed

[2018-09-23 05:00] sharwell commented on #382
Here are a few more changes that should be reviewed (they were added to AsyncUsageAnalyzers after the most recent public preview):

* https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/pull/39
* https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/pull/40
* https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/pull/65

[2018-09-23 13:39] AArnott commented on #382
AsyncUsageAnalyzers | Feature | Status
--|--|--
DotNetAnalyzers/AsyncUsageAnalyzers#39  | Skip overrides and interface implementations | [already done](https://github.com/Microsoft/vs-threading/blob/490d2ecd0d01a174ea35c45c352eaf985bd1aa8c/src/Microsoft.VisualStudio.Threading.Analyzers/VSTHRD200UseAsyncNamingConventionAnalyzer.cs#L78-L81)
DotNetAnalyzers/AsyncUsageAnalyzers#40 | Include Cancellati

[2018-09-23 13:42] AArnott commented on #382
Regarding the CancellationToken parameter one, that's an interesting one. I wonder how much usage it gets. I don't know what % of async methods I write legitimately take no token since they'd have nothing to do with one, but I imagine it's a significant number.

I've wondered about having an analyzer with a similar goal: ensure that it propagates. Assuming I accept one, I should propagate it where

[2018-09-23 16:55] AArnott opened #392 "Unstable test: AwaitRegKeyChange_DoesNotPreventAppTerminationOnWin7"
The `AwaitRegKeyChange_DoesNotPreventAppTerminationOnWin7` test failed in [this build](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=256&view=logs) with this log:

[code]

[2018-09-23 18:14] #392 closed

[2018-09-23 19:39] AArnott opened #394 "Analyzer proposal: Async methods should take a CancellationToken"
#### Is your feature request related to a problem?

Based on the idea in https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/pull/40 and discussed in https://github.com/Microsoft/vs-threading/issues/382#issuecomment-423817451, let's use this issue to track the proposal for an analyzer that creates a diagnostic for async methods that do not accept a CancellationToken.

#### Describe the solution

[2018-09-23 19:39] AArnott commented on #382
Tracking the last CancellationToken analyzer proposal with #394

[2018-09-23 19:39] #382 closed

[2018-09-23 21:51] AArnott commented on #394
Some good ideas from @sharwell when he implemented this in AsyncUsageAnalyzers: https://github.com/DotNetAnalyzers/AsyncUsageAnalyzers/issues/32#issuecomment-168112627

I'm liking the idea of splitting this into two analyzers:
1. Take a CancellationToken as a parameter in any public, async method, or any other method that internally calls methods that can accept a `CancellationToken`.
1. Propagate

[2018-09-26 02:13] #370 closed

[2018-10-07 17:14] AArnott commented on #369
Closed by 0cf32ce4975ed21107cc47fa716f5df872b7a185

[2018-10-07 17:14] #369 closed

[2018-10-09 05:45] #316 closed

[2018-10-09 17:54] AArnott commented on #249
Let's fix this by migrating the doc to https://github.com/Microsoft/VSSDK-Extensibility-Samples/tree/master/AsyncPackageMigration

[2018-10-09 20:18] AArnott opened #399 "JoinableTaskCollection may fail to block on completion due to weak references"
As @lifengl put it:

[2018-10-09 23:34] AArnott commented on #399
This is a non-issue because the `JoinableTask` in fact *won't* disappear, since there are strong references from the schedulers/continuations that will eventually lead to its completion.

[2018-10-09 23:34] #399 closed

[2018-10-10 16:48] MTBandolier opened #401 "Consider adding Func<Task<TResult>> overload to ReentrantSemaphore.ExecuteAsync"
Let's say I have an async method to compute a value, and that computation needs to be guarded by a `ReentrantSemaphore`.  I'd like to be able to write:

[code]

I can't do this because `ExecuteAsync` doesn't take a Func<Task<TResult>>, only Func<Task>.  I can work around this by doing this:

[code]

but I'd rather not have to.

[2018-10-11 21:41] jerickmsft opened #402 "!dumpasync Failed to parse the output of !do 0000000000000000: Invalid parameter 0000000000000000"
#### Bug description

[code]
#### Repro steps

I can provide a dump internally if needed.

#### Expected behavior

The actual task "stacks"

#### Actual behavior
Failed to parse the output of !do 0000000000000000: Invalid parameter 0000000000000000

- Version used:  v15.8.168.release.zip
- Application (if applicable):  windbg

#### Additional context

[2018-10-11 21:50] jerickmsft commented on #402
With verbose output:

[code]

[2018-10-11 23:08] AArnott commented on #184
And [again](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=399&view=logs):

[code]

[2018-10-11 23:09] AArnott commented on #282
And [again](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=384&view=logs):

[code]

[2018-10-12 01:55] AArnott commented on #402
I'm not sure this windbg extension has been vetted for 64-bit dumps. That _might_ be what you're running into here.

[2018-11-01 20:54] #401 closed

[2018-11-08 12:34] sharwell commented on #135
I just collected a 30 second trace where 99.5% of the UI thread activity was vs-threading contention in three methods:

* JoinableTaskContext.get_Factory
* JoinableTask.get_ApplicableJobSyncContext
* JoinableTask.get_Task

With 28 logical processors, it was a fairly frequent occurrence to have problems with the global locking policy. However, a recent move to 64 is quickly making this unsustainabl

[2018-11-08 15:31] AArnott commented on #135
@sharwell Can you reproduce the problem, such that I could give you a patched vs-threading dll to see if it resolves the issue?

[2018-11-08 16:10] sharwell commented on #135
@AArnott I'm running a 2990WX with .NET 4.7.2. I can check to see if the issue is reproducible later this week.

[2018-11-08 19:02] AArnott opened #410 "Calling JoinableTask.Task may throw InternalErrorException when obtained from a JoinableTaskCollection"
#### Bug description

The `JoinableTask.Task` property throws if `wrappedTask == null`, which it will be until its `initialDelegate` returns a `Task` to assign to that field. It might seem this is OK since `JTF.RunAsync` hasn't returned the object to the caller to observe and call the property on, but this is incorrect. The `JoinableTask` is observable even before the caller sees it from another t

[2018-11-08 19:02] AArnott commented on #410
I hypothesized this bug while considering possible fixes for #135.

[2018-11-09 17:34] sharwell opened #413 "AsyncLazyInitializer is not an asynchronous LazyInitializer"
#### Bug description

The name `AsyncLazyInitializer` can cause confusion for users w.r.t. `LazyInitializer`. The former is not intended to be an asynchronous form of the latter, and addresses a totally different problem. It should be renamed.

[2018-11-09 18:11] AArnott opened #414 "Add ValueTask support comprehensively to our analyzers"
At least some of our analyzers specially recognize `Task` and `Task<T>` but do not recognize `ValueTask` and `ValueTask<T>` and as a result, deadlocks and other anti-patterns can creep in undetected.

We should audit all our analyzers for gaps and fill them in.

[2018-11-09 23:13] AArnott opened #416 "VSTHRD200 should require Async suffix iff return type is awaitable"
When a method returns `IVsTask`, the VSTHRD200 forbids the use of the Async suffix on the method name because the return type isn't `Task` or `ValueTask`. *All* awaitable types should allow the use of the `Async` suffix (and probably require it).

[2018-11-10 16:39] AArnott commented on #360
and [again](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=532&view=logs)

[code]

[2018-11-10 18:01] AArnott opened #418 "Make SyncBlockingMethods a data-driven collection"
We need to replace this:

https://github.com/Microsoft/vs-threading/blob/52793886df39af293dcb33a45a326bc5e873ff13/src/Microsoft.VisualStudio.Threading.Analyzers/CommonInterest.cs#L40-L44

With an AdditionalFiles, including a change to actually provide that same data in the vssdk-analyzers.

[2018-11-10 18:07] AArnott opened #419 "Add AdditionalFiles for types that VSTHRD200 should require an Async suffix for"
Some custom awaitables are designed to be awaited (as opposed to someone just defining an extension method that makes them awaitable, but isn't the goal). These should be returned from methods that _should_ end with an Async suffix. These should be opt-in via an analyzer "additional file".

_Originally posted by @AArnott in https://github.com/Microsoft/vs-threading/pull/417/comment#issuecomment-43

[2018-11-10 20:17] #416 closed

[2018-11-10 21:05] #135 closed

[2018-11-10 21:05] #410 closed

[2018-11-10 21:07] AArnott opened #421 "Stop skipping test TaskReturningMethodIncludeArgumentFromOtherSyntaxTree"
We should address the TODO in this test and then stop skipping it.

_Originally posted by @AArnott in https://github.com/Microsoft/vs-threading/pull/420/review_comment/create_

[2018-11-11 06:11] #421 closed

[2018-11-26 13:15] jonathanantoine opened #423 "VSTHRD102 analyzer has disallowed dependency on Roslyn Workspaces assembly"
#### Bug description
Cannot use the nuget package on MAC on a .net standard project.

#### Repro steps
Build this project :
[ClassLibraryReproAnalyzer.zip](https://github.com/Microsoft/vs-threading/files/2615654/ClassLibraryReproAnalyzer.zip)

#### Expected behavior
Warning because of wrong usage of async keyword.

#### Actual behavior
Warning about a "non loadable assembly" :
`/Users/jonathananto

[2018-12-01 04:38] AArnott commented on #423
Analyzers aren't supposed to carry a dependency on the Microsoft.CodeAnalysis.Workspaces assembly. That's the bug. It has nothing to do with targeting .netstandard2.0.

[2018-12-01 05:05] AArnott commented on #423
We've had this bug in the vssdk-analyzers too: https://github.com/Microsoft/VSSDK-Analyzers/issues/24
I think we should adopt the same fix as we did there: https://github.com/Microsoft/VSSDK-Analyzers/pull/40

[2018-12-01 07:19] jonathanantoine commented on #423
Thanks for your analysis!

[2018-12-01 19:05] AArnott commented on #360
and [again](https://dev.azure.com/azure-public/vside/_build/results?buildId=676):

[code]

[2018-12-03 01:59] AArnott commented on #375
I'm working on retargeting the analyzers to VS 2017 Update 7 now, which will allow us to fix this.

[2018-12-03 03:54] #345 closed

[2018-12-03 03:55] AArnott commented on #413
What would you suggest the name be? It's an `AsyncLazy<T>`-based initializer. So the name is a derivation from `AsyncLazy` rather than `LazyInitializer`.

[2018-12-12 00:29] AArnott opened #431 "Check that VSTHRD200 works with C# 8 async enumerable"
The names of methods that return `IAsyncEnumerable<T>` should have an `Async` suffix.

These methods may include an `async` modifier, and may include a `yield return` or a `yield break`. In fact these traits will be very likely unless the method is just a pass-through to another method. But that would be an implementation detail, and the method should have the suffix regardless.

[2018-12-14 02:55] #375 closed

[2018-12-17 18:00] AArnott opened #433 "Unstable test: AsyncPumpReleasedAfterExecution"
From [this build](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2282819):

[code]

[2018-12-17 19:22] CyrusNajmabadi opened #434 "Always throw from SwitchToMainThreadAsync if the token is canceled"
For more context, see thread here: https://github.com/dotnet/roslyn/pull/31787

Specifically starting here: https://github.com/dotnet/roslyn/pull/31787#issuecomment-447502124

TLDR: Roslyn switched some explicit usages of TPL+SyncContexts to use JTF for switching to the UI thread.  This ended up causing crashes due to Roslyn depending on TPL behavior that JTF doesn't provide.  Specifically, roslyn

[2018-12-17 19:24] AArnott commented on #434
(I wrote this up for your original PR, but now that we have an issue dedicated to this discussion, I moved it here)

Good points, @CyrusNajmabadi.

Not to take away from anything you said, since from where you're coming from it all sounds perfectly reasonable, but I tend to go a different way.

TPL is largely dead. I say that because the general consensus is that folks should typically *not* use `

[2018-12-17 19:31] sharwell commented on #434
I do not believe this is a correct representation of the way the TPL behaves. More specifically, the TPL does not provide any equivalent to `SwitchToMainThreadAsync`, which means transitioning to JTF puts us in a place where the code is easier to read but there is no direct behavior mapping.

[2018-12-17 19:33] AArnott commented on #434
So exploring your API request, @CyrusNajmabadi, there are two possibilities that occur to me (don't sweat the names I'm using... it's the shape I mean to discuss at this stage):

1. Add a new method: `JTF.SwitchToMainThreadThrowOnCancellationAsync(CancellationToken token)`
1. Add an overload to our existing one: `JTF.SwitchToMainThreadAsync(token, alwaysThrowOnCancellation: true)`

Either way, it

[2018-12-17 19:35] sharwell commented on #434
I'm less interested in the pattern we have now, and more interested in the subset case where we avoid executing the continuation on the main thread _if cancellation occurs on the main thread_.

[2018-12-17 19:46] AArnott commented on #434
Can you explain this more? I'm not sure what you're arguing for. The subset you describe, from what I've heard on your PR and by email, is what Roslyn's case is in the first place.

See, I've never seen cancellation as a way to protect data. Even the naming around a cancellation token ("is cancellation *requested*") indicates to me that it's merely a request, and that it may or may not be fulfille

[2018-12-17 19:47] CyrusNajmabadi commented on #434
isn't that equivalent to scheduling a task on the appropriate sync context?

[2018-12-17 19:51] CyrusNajmabadi commented on #434
It may not be fulfilled *in that* you might write code to not respect it.  However, we've written code to respect it.  Note: none of this was strange when we did any of our discussions with the TPL people about this.  Why would we need anything else when Cancellation already behaved this way?

i.e. we could have had *another* mechanism.  one where we an antecedent task set some bit, and a later ta

[2018-12-17 19:52] AArnott commented on #434
Yes, roughly. But that's only equivalent at the highest level. Beneath that conceptual equivalence, almost all the mechanics of how it works underneath are different. And it looks completely different even at the surface when you consume the API. So aside from "they both get you to the UI thread", they're actually quite different.

[2018-12-17 19:52] CyrusNajmabadi commented on #434
Importantly, we can add a threading analyzer that says that we cannot call that other API as it doesn't match teh semantics we except.

[2018-12-17 19:56] CyrusNajmabadi commented on #434
This is not a compelling argument for me.  If htey are 'completely different', then i would argue that Roslyn should not use JTF.   We should not be mixing/matching totally different threading/concurrency systems.  Because that's exactly how we end up in the state we got into, where we have broken behavior and not a single person (with probably 50+ years of combined experience around threading/TPL

[2018-12-17 19:57] AArnott commented on #434
That's fine. I'm not against you designing your system as you have. If you want to constrain yourself to one thread, and explicitly cancel and check tokens, that's great. Nothing wrong with reusing CancellationTokens for this -- don't reinvent them.

My argument is that just because TPL behaved a particular way, JTF doesn't necessarily have to conform to that precedent (that was never a precedent

[2018-12-17 19:58] CyrusNajmabadi commented on #434
Moved ths from the other thread:

This is the first i'm hearing anything of the sort... can you link to any sort of statements to that effect?

Sure... but what i was talking about still applies with async/await. I was simply talking aobut .ContinueWith since htat's hte underlying mechanisms this boils down to. It doesn't actually depend on anything async/awaity.

i.e. we use async/await heavily i

[2018-12-17 20:02] CyrusNajmabadi commented on #434
That is certainly an option.  But i personally don't think it's a good one.  It violates a core engineering goal Roslyn had around concurrency which was to KISS.

Needing to understand these sort of subtle difference is the antithesis of KISS.  Note: if JTF expects that it is used in isolation of TPL, then it's *certainly* the case that it is abiding by KISS *itself*.  The problem then exists for

[2018-12-17 20:04] sharwell commented on #434
@CyrusNajmabadi It's not vs-threading that's violating KISS here. Roslyn using application of CancellationToken as a basis for algorithm correctness is already too complex; vs-threading operates under even simpler considerations.

[2018-12-17 20:06] AArnott commented on #434
Maybe "dead" is too strong a word. But Stephen Toub I believe agrees, and other influential folks (including David Fowler) have repeatedly said that with async/await, the .NET 4.0 era TaskScheduler patterns are now in the domain of "rocket scientists". This is because it's tedious, hard to code right, and even harder to code more efficiently than async/await is. So much work went into the compiler

[2018-12-17 20:09] CyrusNajmabadi commented on #434
![image](https://user-images.githubusercontent.com/4564579/50112658-9e3da980-01f4-11e9-8da7-0c74b5e17be0.png)

:D

[2018-12-17 20:13] CyrusNajmabadi commented on #434
Look.  I'm not disagreeing with your guys' points.   :)

I'm simply stating: this issue is a clear indication of something concerning.  I'm coming from the direction of caring about the engineering here and the concerns about reliability and correctness.  It's not an exaggeration to say that issues here are some of the worst Roslyn has ever had to deal with.

As such, i come from the perspective o

[2018-12-17 20:32] sharwell commented on #434
At this point I lean against API or behavior changes. The one motivating example presented so far is a case of desiring that implicit cancellation be respected at a location simply to avoid calling `ThrowIfCancellationRequested`. It's generally safe to omit the latter without impacting correctness, and in the remaining cases it seems desirable for the cancellation to be explicit.

[2018-12-17 20:34] AArnott commented on #434
I can't imagine a world where TPL didn't provide that guarantee. `Task.ContinueWith` by definition of the very method name suggests that the next task won't execute before the prior one completes. Why do you say TPL could have gotten away without that guarantee?

To be clear, JTF is anything but simple internally. I am fully in favor of designing for simplicity in consumption of the library. But t

[2018-12-17 20:35] CyrusNajmabadi commented on #434
That's obviously untrue.  Roslyn operated for like 10+ years with TPL and without JTF, while being able to use the UI thread.  We designed for this and we very carefully and conscientiously implemented many components that worked fine in this regard.

And, IMO, this was a *better* state to be in.  We never took it for granted that we could use the UI thread.  Instead, we understood very well the r

[2018-12-17 20:36] CyrusNajmabadi commented on #434
I can't imagine a world where JTF didn't provide the guarantee we're speaking about now.  And yet here we are :)

[2018-12-17 20:37] CyrusNajmabadi commented on #434
Whether it is implicit or explicit doesn't make a difference to me.  The same behavior should hold for implicit dependencies IMO.  Having things be different just makes things *complex* on the *consumption* side.

[2018-12-17 20:38] AArnott commented on #434
I thought you were going to say that. But the difference is, `ContinueWith` screams "this happens later" within its own domain (and more broadly, I argue). But within the domain of async methods, a cancellation token has *no guarantee whatsoever* of being honored. That's a very strong precedent that JTF didn't set -- we just live with it.

[2018-12-17 20:39] CyrusNajmabadi commented on #434
Yes.... and when i say "ContinueWith" with this cancellation token, and it says "this will happen later", and i then cancel the token, i *expect* that the cancellation token would be respected if that later point is on my same thread...   :)

[2018-12-17 20:40] AArnott commented on #434
And yet, Roslyn eventually switched to JTF. Why is that? Did they need something that they couldn't get otherwise? As scenarios expand, and the need to interop better with other VS components grows, JTF becomes a more pressing requirement for anything that is async and may require the UI thread, such as Roslyn.

[2018-12-17 20:47] CyrusNajmabadi commented on #434
Don't know.  I was very resistant to it.  But i'm also off the team.  I'm not apriori against it being used.  But my preference is toward simplicity for *precisely* the reasons that started this entire conversation.

Honestly, i don't see why that's the case at all.  Roslyn interops with dozens (maybe hundreds) of VS components.  And due to the intense UI-affinitized behavior of VS, haivng to be U

[2018-12-17 20:47] AArnott commented on #434
:smile: It has come up a few times recently that JTF has made accessing the UI thread *so* easy that perhaps it's a disservice to itself. I always chuckle a bit when we discuss such a sentiment. I'm quite happy with the fact that we've now moved the problem space from "it's too hard to do it" to "it's so easy but we need to think about when to use it". As a product (or actually, a set of products

[2018-12-17 20:50] CyrusNajmabadi commented on #434
Sounds good :)

[2018-12-17 21:02] AArnott commented on #434
Great. So not to continue the debate, but to answer a question you asked that I think leads to additional value we can glean from this discussion...

@CyrusNajmabadi said:

Enumerating differences is tough since the two systems are modeled so differently. But I can share common gotchas that I've seen from the many teams that have migrated so far. And we have analyzers that codify guards for those

[2018-12-17 21:12] CyrusNajmabadi commented on #434
This is a *lot* to digest.  I'll try to budget a few hours to try to internalize it all.  It def makes me more wary about hte usage of jtf here.

[2018-12-17 21:29] AArnott opened #435 "Analyzer proposal: VSTHRD201 Follow-up SwitchToMainThreadAsync(CancellationToken) with ct.ThrowIfCancellationRequested"
#### Is your feature request related to a problem? Please describe.

Some consumers of `JoinableTaskFactory.SwitchToMainThreadAsync(CancellationToken)` want or expect awaiting the method to throw if the token is canceled, without regard to whether they are on or can obtain the main thread.

#### Describe the solution you'd like

An analyzer that offers a diagnostic and automated code fix whenever

[2018-12-17 21:30] AArnott commented on #435
CC: @sharwell @CyrusNajmabadi @jasonmalinowski

[2018-12-17 21:43] CyrusNajmabadi commented on #435
Sounds good to me.

[2018-12-17 23:52] jasonmalinowski commented on #434
@AArnott do we have concrete examples in VS today that rely on the existing behavior for correctness? Between seeing the places where Roslyn is being broken, and the places in the VS code that at least (to me) also look suspicious. I can understand if we want to add an option or analyzer to avoid a breaking change because yes, it's potentially breaking and I don't dispute that. But how much code i

[2018-12-18 00:10] AArnott commented on #434
Most components don't have the enviable opportunity to rewrite themselves like Roslyn did from the old C# project system and compiler. We have to make it easy to go from UI thread locked to async and enable switching to and from the UI thread easily or almost no one would have ever gone async in VS since they have to be allowed to do so progressively.

I've always maintained that JTF is a bridge b

[2018-12-18 01:22] CyrusNajmabadi commented on #434
Agreed.  it was very much a *good* thing (regardless of TPL/JTF/VS/whatever).  It's a valuable thing to have to be extremely cautious and judicious about this stuff.  We've all experienced the component that is technically async but still has a terrible UI experience due to misusing the UI thread.  By *both* explicitly not having easy ways to get to hte UI thread, **and** also having it be that we

[2018-12-18 02:54] CyrusNajmabadi commented on #434
We just designed things to never do this.  If you were on the UI thread, it was only acceptable to ever block a completely computation-bound bg task that itself never had any sort of UI need.  And, normally, we've tried to make it so that the UI thread just doesn't try to even block those guys.  We've had to in a small number of cases because there is no other way.  But, if we have requirements on

[2018-12-18 02:57] CyrusNajmabadi commented on #434
Is there something wrong with cancellation at that point?  I do assume that any time i await a call that is passed a real cancellation token that it, well, cancel :)    This could be an 'await' to just any method-that-takes-cancellation, and any method-that-takes-cancellation may throw on the very first line, and that would be fine.  So i'm not seeing how things change to STMTA.

Is there a reason

[2018-12-18 02:58] CyrusNajmabadi commented on #434
Good point.  I can very much respect the value and sanity that brings to many teams :)

[2018-12-18 03:00] CyrusNajmabadi commented on #434
Basically, as long as VS has been around, you could never change thread affinity (i mean, i suppose you could make a STA component MTA... not sure if anyone ever did though).  So, we tried to get free-threaded components from lots of teams.  And, if we coudn't we just accepted the UI thread as a necessarily evil and tried to design things so that regardless of that evil, we weren't making things w

[2018-12-18 05:05] sharwell commented on #434
I never think if it this way. I expect cancellation to trigger the fastest path to the end of the method, which would be successful completion if the remaining work is cheaper than throwing an exception.

[2018-12-18 06:55] CyrusNajmabadi commented on #434
I wasn't saying that it *will* cancel.  Merely that it can cancel.  i.e. if given:

[code]

If i pass that with a cancelled token, then my expectation is absolutely that this can cancel (at any point or any time), including (but obviously nto limited to) the first line.

Ergo, the same holds true for STMTA.  if i call it with a canceled token, then having it throw seems utterly reasonable and in l

[2018-12-18 18:39] jasonmalinowski commented on #434
How expensive is throwing an exception? How many equivalent IL instructions is it? "Do the cheapest" is definitely a good argument, do we have any numbers to know what that actually is?

[2018-12-18 18:39] jasonmalinowski commented on #434
Fully agreed that jumping back to the thread pool to raise the cancellation is silly, so let's not do that. And I'm also 100% for just an analyzer if we determine it is too much of a risk to change the behavior. More than anything else, I'd love it if owners of the code using SwitchToMainThreadAsync that did cancellation could look at their code and see if there are in fact issues there or not. It

[2018-12-18 19:30] CyrusNajmabadi commented on #434
I'm saying: i find it to be completely acceptable and normal for a canceled method to throw a cancellation exception.

It's literally the norm.  It's how we ourselves write 99%+ of all our cancellation code.  We've got a decade of experience telling us that this is fine.  So, as i mentioned on your original question: I am 100% ok if STMTA throws if it gets a canceled cancellation token.

[2018-12-18 19:34] CyrusNajmabadi commented on #434
Given that this is how roslyn basically behaves *all the time*, and we're massively concurrent+cancelling, i'd say: this is not a concern that we care about.

The only time i've ever had an issue here was at one point when the debugger had a massive perf hit when an exception was thrown.  In Roslyn this was then painful as you could get hundreds of cancels a second as things like typing kicked off

[2018-12-18 20:01] AArnott commented on #434
For the record, I'm not concerned about the perf cost of throwing an exception. I'm concerned about the perf cost of waiving access to our current UI thread and waiting for an arbitrarily long period of time for a threadpool thread to come along so we can throw the exception on the threadpool instead of the main thread.
Throwing from a threadpool thread wouldn't be a breaking change. Throwing from

[2018-12-18 20:08] CyrusNajmabadi commented on #434
Why would throwing from the main thread be a breaking change?  Isn't htat what most code that follows stmta will do when it itself uses that cancellation token?  isn't that what roslyn is doing here?

Do we have an expectation that that would actually break people?

[2018-12-18 22:16] CyrusNajmabadi commented on #434
I uess i view it exactly like '.ContinueWith'.  .ContinueWith could be 'successfully' doing it's job by executing the continuation code on the requested thread if it had gotten to that point and was ready to go.

To me, i don't really see why STMTA is any different.  Both are just requests to "get to this point, and then do followup work".  I just see 'cancellation' as indicating "and don't bother

[2018-12-19 06:52] weltkante commented on #434
As a user of JTF outside VS I don't have a strong opinion about whether to allow for adjusting the behavior of STMTA, but introducing subtile semantic differences is something which should be weighted carefully against the utility in Roslyn. Maybe its better to have a dedicated (Roslyn specific) helper method for switching to the UI thread, which provides the desired semantics and use analyzers to

[2018-12-19 08:16] CyrusNajmabadi commented on #434
The question was about how STMTA should behve.  I was saying that i view it similarly to .ContinueWith, and i would prefer cancellation behave as similarly as possible.

[2018-12-19 08:21] CyrusNajmabadi commented on #434
AFAIK, it's not an assumption.  We discussed hte behavior of TPL *in depth* with the TPL authors as it was being created.  We were heavy consumers and were communicating with them regularly about what semantics we could expect and what was considered undefined behavior.  From all my recollections, this very much was by design.

Why? This is like saying that to be robust, i also should not assume t

[2018-12-19 09:31] weltkante commented on #434
You seem to have misread my comment. I was talking about cancellation of async Tasks (e.g. those generated by the compiler when writing async methods), not challenging the behavior of TPL. It's unfortunate that both use the same Task class.

Changing semantics for STMTA doesn't help reviewing any other async Task usage, cancellation is still lazy and the callers should check their tokens if early

[2018-12-19 09:48] CyrusNajmabadi commented on #434
I guess i'm not sure what you mean by that then.  The compiler doesn't create any sort of special tasks.  It just uses whatever Task type you return (normally System.Threading.Task or ValueTask).  This is normally created with AsyncTaskMethodBuilder, with a bunch of callbacks indicating to which state things should transition as intermediary tasks complete.  But the operation of those tasks still

[2018-12-19 11:21] weltkante commented on #434
Clarifying my point in case you care about what I meant, I agree with the rest of your response.

But that task created through AsyncTaskMethodBuilder (which I'm calling async Task) doesn't check any cancellation tokens, unless you do it explicitly in the method body. What you probably mean is that when you ContinueWith on an async Task that the returned task operates under TPL, but thats of cours

[2018-12-19 16:00] AArnott commented on #434
Thanks, @weltkante. What I get from your argument is:

1. In general, *async* methods that accept `CancellationToken` are generally free to honor or not honor that token. They certainly *may* not check them as the last thing they do before each of their exit paths. And therefore, it's not a good idea to *rely* on async methods to check the token on your behalf if you rely on the token being honore

[2018-12-19 19:17] CyrusNajmabadi commented on #434
Yes.  I thought that was clear from what i was saying, but if not i apologize.  It's been a long thread, and there's been a lot stated.  But i tried to make it clear that i felt STMTA was morally close enough to ContinueWith (since that is how you *today* run continuations on another scheduler) that it should behave the same way.

I def acknowledge that there's no statement anywhere that that need

[2018-12-19 19:20] CyrusNajmabadi commented on #434
Another point of note: when we pointed out a subtle and potentially unintuitive part of TPL 5+ years ago, they attempted to go this path.  They felt the change would be more intuitive as well.  But, as it turned out, it led to breaks down the line.  So the change was reverted and the new behavior was brought in through an option.

So i'm *extremely* sympathetic to the concern that this could break

[2018-12-19 19:54] lifengl commented on #434
I saw the proposal in the email thread.  I don't think that I agree with the second half of the proposal.  If the cancellationToken is triggered in the middle of the transition, and the continuation reaches the UI thread first, I don't think it should throw the CancellationException on the UI thread.  Basically, it is always a race condition when the cancellationToken is triggered in the middle of

[2018-12-19 20:24] CyrusNajmabadi commented on #434
There is no race condition.  The cancelling has hapened on the thread that we are transitioning to.  Since two tasks cannot execute on the same thread at the same time, then there is a strict ordering here of when things can happen.  Either the cancel happened before, and thus we can read and safely cancel when we transition to that thread.  Or, it happens afterwards... in which case, this is moot

[2018-12-19 20:36] CyrusNajmabadi commented on #434
It hardly seems random here :)    As stated a few times (and well put by Andrew here https://github.com/Microsoft/vs-threading/issues/434#issuecomment-448647136), this is particularly about STMTA and the semantics *specifically* as a thread-swapping mechanism, much more akin to `.ContinueWith(.. Main-Thread-Scheduler..)`.

[2018-12-19 20:58] lifengl commented on #434
It may or may not impact some of try/retry to switch to the UI thread logic.  Some of our logic is done in the pattern like, SwitchToUIThread with a time-out (using a cancellationToken). If it works, we finish the work on the UI thread. If it doesn't get into UI thread on time, we run a different set of logic.  That includes the logic to scan task dependencies to verify whether we are in a critica

[2018-12-19 21:00] CyrusNajmabadi commented on #434
Understood.  Thanks for the example.

[2018-12-20 19:53] #423 closed

[2018-12-21 15:42] AArnott opened #444 "Unstable test: HangReportNotSuppressedOnLongRunningTaskCancelled"
From [this build](https://dev.azure.com/azure-public/vside/_build/results?buildId=1283) (based on ac8db33):

[code]

[2018-12-21 15:43] AArnott opened #445 "SynchronizationContextSend_ProducesDiagnostic"
From [this build](https://dev.azure.com/azure-public/vside/_build/results?buildId=1284) (commit dda65cd):

[code]

[2018-12-21 15:45] AArnott commented on #184
and [again](https://dev.azure.com/azure-public/vside/_build/results?buildId=1284) (on dda65cd):

[code]

[2018-12-21 15:54] AArnott commented on #445
Fixed by 5e295a9bb4dc6a468634ee2ead37b4453579b9d9

[2018-12-21 15:54] #445 closed

[2018-12-21 16:16] AArnott commented on #433
And [again](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2293231&view=ms.vss-test-web.test-result-details) in 5e295a9:

[code]

[2018-12-22 20:14] yinyue200 opened #446 "Can't compile by .Net Native"
#### Bug description
Can't compile by .Net Native

#### Repro steps
Build the repo in RELEASE Mode https://github.com/yinyue200/vsthreadingwithnetnative

#### Expected behavior
build success

#### Actual behavior
1>  Processing application code
1>  Computing application closure and generating interop code
1>    Loading 91 modules...
1>    Generating code...
1>    Interop code generated.
1>  Compil

[2018-12-22 23:35] AArnott commented on #446
I don't have any experience with .NET Native. I can't make sense of the error code. Can you file an issue against the .NET Native compiler, and loop us in if you know what change (if any) we need to make?

[2018-12-25 09:53] fahadabdulaziz opened #447 "VSTHRD100: Should not report event handlers"
#### Bug description
VSTHRD100 reports about async void methods, it should not report on event handlers.

#### Repro steps
[code]

#### Expected behavior
Should not report on event handlers

- Version used: 15.8.209

[2018-12-25 19:10] Therzok commented on #447
Afaik, ISymbol comparisons should be done via Equals, not `==`.

https://github.com/Microsoft/vs-threading/blob/master/src/Microsoft.VisualStudio.Threading.Analyzers/Utils.cs#L97

[2018-12-26 02:36] fahadabdulaziz commented on #447
Sure I can test any fix or build, just tell me when the build is published to NuGet..

[2018-12-27 01:11] fahadabdulaziz commented on #447
@AArnott, Just tested the update, the problem still present..

[2018-12-27 05:20] AArnott commented on #447
Thanks, @fahadabdulaziz. Can you share your repro steps and/or solution?

[2018-12-27 06:48] fahadabdulaziz commented on #447
It occurs on this code:
[code]
I have no experience on developing analyzers but I think it check the parameters usually if a method has two parameters (object, EventArgs) or whatever derives from EventArgs, the method should be ignored.

[2018-12-30 01:59] yinyue200 commented on #446
@AArnott  I think there is a way to workaround the bug through make UWP target the netstandard 1.3 version

[2019-01-04 14:43] mthalman-msft opened #450 "Analyzer for VSTHRD010 is not honoring ThrowIfNotOnUIThread in operator overload method"
#### Bug description
Code contained in an operator overload method may attempt to access an object member that requires the main thread.  This will cause a VSTHRD010 rule warning.  But if the code is modified to call ThreadHelper.ThrowIfNotOnUIThread, the warning does not go away.  I only see this behavior on operator overload methods.

#### Repro steps
This isn't my real code but effectively demo

[2019-01-04 15:15] AArnott commented on #450
Thanks for the report. I suspect we haven't any tests for operator overloads, so we can add that.

FWIW though, a thread affinitized operator overload sounds like it will breed confusion. Operators generally are expected to perform very quickly and without thread affinity.

[2019-01-04 17:40] #450 closed

[2019-01-15 06:34] AArnott opened #454 "VSTHRD002 code fix throws NRE when compile errors are present"
#### Bug description

VSTHRD002 code fix provider throws NRE when activated on a diagnostic with a compile error for one of the arguments.

#### Repro steps

I had this method, which violated VSTHRD002. Note that there is no `using System.Threading;` line for this file, so `CancellationToken.None` did not resolve when I activated the light bulb to look at code fixes.

[code]

#### Expected behavio

[2019-01-17 20:32] mthalman-msft opened #455 "Analyzer for VSTHRD010 doesn't properly recognize switches to worker thread"
#### Bug description
The analyzer for VSTHRD010 is only checking for the existence of a main thread switching call above the offending code.  But that's not sufficient if the code were to also switch to a worker thread after having switched to the main thread.

#### Repro steps
[code]

#### Expected behavior
A VSTHRD010 warning should occur for this code because the 3rd line is not running on the

[2019-01-17 20:42] mthalman opened #456 "Structs not being recognized as MembersRequiringMainThread"
#### Bug description
I've defined my own vs-threading.MembersRequiringMainThread.txt file in my project and added a struct type to the file.  When calling a member of that struct, no warning is being generated even though it should be violating the check.

#### Repro steps
[code]

vs-threading.MembersRequiringMainThread.txt:
`[MyProduct.MyStruct]`

Calling code:
[code]

#### Expected behavior
The

[2019-01-17 20:59] AArnott commented on #455
Fixing this fully will probably require Roslyn's upcoming execution flow analysis APIs for analyzers.

[2019-01-23 20:04] lifengl opened #457 "AsyncLazy can duck tap two callers into the same thread"
When two caller accesses the same AsyncLazy, it can end up with the second caller's continuation code to be executed inside the first caller's stack, which can cause some odd issues (and potentially lead into dead locks.)  We found similar issue in CPS's configuredProjectCache, and I think AsyncLazy has a similar issue.

The problem happens, when the AsyncLazy function can finish without yielding

[2019-01-25 01:01] adrianvmsft opened #458 "AsyncQueue can hit a deadlock waiting for Cancellation to complete"
#### Bug description
AsyncQueue tries to handle the ThreadingTools.ICancellationNotification.OnCanceled notification and tries to FreeCanceledDequeuers however that hits a lock because there is another thread, that has already entered the lock that is waiting for the Cancellation to complete

#### Repro steps
This issue gets hit randomly by the WebForms/ManagedLangs_CS_DDRIT
[code]

#### Expected

[2019-01-25 03:58] AArnott commented on #458
Thanks for the analysis, @adrianvmsft. I've reduced the above callstacks to this:

Thread 1 stack:
[code]

Thread 2 stack:
[code]

Thread 2 has the lock held by DequeueAsync, and is waiting for thread 1 to return from its cancellation notification.
Thread 1 is processing cancellation and is waiting on the lock.

[2019-01-25 15:48] AArnott commented on #458
I was able to reproduce the hang with a test that I controlled timing for in the debugger.

[2019-01-25 21:55] #458 closed

[2019-01-26 02:42] sharwell opened #462 "VSTHRD012 does not support concurrent execution"
https://github.com/Microsoft/vs-threading/blob/6e09760800571cf7f539e3d0939d66cba07c301d/src/Microsoft.VisualStudio.Threading.Analyzers/VSTHRD012SpecifyJtfWhereAllowed.cs#L27-L33

[2019-01-26 02:43] sharwell opened #463 "VSTHRD105 does not support concurrent execution"
https://github.com/Microsoft/vs-threading/blob/6e09760800571cf7f539e3d0939d66cba07c301d/src/Microsoft.VisualStudio.Threading.Analyzers/VSTHRD105AvoidImplicitTaskSchedulerCurrentAnalyzer.cs#L49-L54

[2019-01-26 22:04] #463 closed

[2019-01-26 22:04] #462 closed

[2019-01-28 14:47] AArnott commented on #457
I think if we get the corefx bug fixed, we'll find some way to fix this one. Either by turning off all inline continuations for this type, or an instance, or perhaps by detecting when a 3rd party gets at the Task before our caller attaches the first one and returning a non-inlining one to that 3rd party.

[2019-01-30 00:51] lifengl commented on #457
If all inline continuations are turned off for this type, we won't have this problem.  And I agree the problem won't go away completely (for JTF.Run problem) until the corefx bug is fixed, so this issue is tightly related to the corefx problem.  It is, however, slightly different here, because only the second task chained the task continuation, and the first task (which executes the task) hasn't c

[2019-02-05 21:46] AArnott commented on #434
Given 16.0 is closing down and there wasn't enough appetite among other stake holders to take the risk of changing this behavior, I'm closing this as Won't Fix. This doesn't mean it wasn't a good idea and perhaps even the right choice, but it just means our window for making such a behaviorally significant change was a major version increment and as 16.0 is behind us now, that leaves #435 to mitig

[2019-02-27 14:54] sharwell opened #469 "VSTHRD100 fails to report async void event handlers"
#### Bug description

VSTHRD100 fails to report async void event handlers.

#### Repro steps

[code]

#### Expected behavior

VSTHRD100 is reported, because an `async void` method is defined.

#### Actual behavior

VSTHRD100 is not reported.

- Version used: 15.8.132
- Application (if applicable): GitExtensions

#### Additional context

[2019-03-11 15:47] abergs opened #470 "Applicability of vs-threading lib and analyzers in ASP.NET"
I'm simply wondering if there are any issues with using this nuget and analyzer in an asp.net project?

1: Will it introduce anything bad?
2: Are there any analyzers (AsyncLazy?) that does not apply to a asp.net project and should be ignored?

I asked this question on SO for increased visibility/SEO when others encounter this: https://stackoverflow.com/questions/55103194/using-vs-threading-in-asp-

[2019-03-11 18:05] AArnott commented on #470
[VSTHRD200](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD200.md) may not be a good fit if your controller methods are async but you don't want Async as a suffix to those methods because that would influence the public URLs.
[VSTHRD012](https://github.com/Microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD012.md) may not apply either, since you probably don't have a

[2019-03-12 09:00] unsafePtr opened #471 "Create extension or tool for Microsoft.VisualStudio.Threading.Analyzers"
I found Microsoft.VisualStudio.Threading.Analyzers package really helpful in the usual development. However, installing it in every project as a NuGet package is very uncomfortable. Can we consider to create the VisualStudio extension or dotnet tool for this package?

[2019-03-12 14:06] AArnott commented on #471
The VS extension was attempted in #452 and was abandoned for lack of demand and inability to deliver on all requirements.
We won't be writing a dotnet tool either.

Can you add a PackageReference to the analyzer nuget package in a Directory.Build.props file instead of your project files? Then you're doing the work only once per repo instead of once per project.

[2019-03-12 14:49] unsafePtr commented on #471
@AArnott, thank you for your suggestion. Do you have any idea how to make it work at the Visual Studio level? Like, any project which is opened to apply these analyzers.
Think issue can be closed.

[2019-03-21 23:16] sharwell opened #472 "VSTHRD003 exception for field in another assembly"
#### Bug description

VSTHRD003 produces an AD0001 error in the IDE when code references a field in another project.

#### Repro steps

First assembly:

[code]

Second assembly:

[code]

1. Define the above assemblies
2. Add a ProjectReference from the second assembly to the first
3. Open **Boom.cs** in Visual Studio

#### Expected behavior

No exception.

#### Actual behavior

[code]

- Version u

[2019-03-22 03:47] AArnott commented on #472
@sharwell does the analyzer test framework we're using allow us to simulate multi-project scenarios to repro this?

[2019-03-22 06:33] gregpakes opened #473 "Possible Memory Leak"
#### Bug description
Having watched David Fowler & Damien Edwards video (https://www.youtube.com/watch?v=-cJjnVTJ5og), I added this library into my application so I can use JoinableTaskFactory and the analyzers.

I have hit a memory leak in my application when I use the JoinableTaskFactory.  This memory leak only occurs in the context of Asp.Net and does **not occur in a console application**.  So

[2019-03-22 09:25] sharwell commented on #472
@AArnott yes, but it's a bit clumsy. I implemented a test for a case like this in dotnet/machinelearning:
https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.CodeAnalyzer.Tests/Code/BestFriendTest.cs

[2019-03-23 03:25] AArnott commented on #473
Thanks for the fantastic bug report!

This appears to be a dupe of #274
If you upgrade to the 16.0 version, I think you'll see the leak go away.

That said, I think you may have a leak anyway. The fix from 16.0 will drop the size of the leak significantly, but it appears you may have set up a Task continuation chain where Tasks don't get GC'd.

Taking a quick look at your repro solution, I see you

[2019-03-23 04:13] gregpakes commented on #473
Thanks for the response.

There is a reason we are not using 16.0. From memory it adds a dependency that didn’t work in our solution, but I will revisit that.

Thanks for the feedback regarding the JoinableTaskContext. In all honesty, I don’t fully understand the library and used it because various analysers said I should!!!

Maybe I should go away and investigate how to use it properly!  I haven’

[2019-03-23 04:21] AArnott commented on #473
Great, yes the docs are mostly all on this site. But they mostly deal with client apps, so I'm interested in hearing back from you on your ASP.NET uses. Most of the analyzers should apply to ASP.NET, but some may not. ASP.NET apps should avoid blocking threads using Task.Wait or JoinableTaskFactory.Run whenever possible to avoid hurting the scalability of your site.

[2019-03-23 04:38] gregpakes commented on #473
I can confirm that upgrading to 16.x does resolve the leak.  I will go and refresh my memory why we couldn't use it.. I think it's something to do with these dependencies:

- Microsoft.VisualStudio.Validation
- System.Threading.Tasks.Extensions

So I'm now thinking I need to provide a helper class in the application to allow everyone to go and get the single JoinableTaskContext.  I'm assuming I'm

[2019-03-23 14:51] AArnott commented on #473
`Microsoft.VisualStudio.Validation` is not a new dependency. `System.Threading.Tasks.Extensions` probably is, and IIRC was necessary for our support of `ValueTask`.

Yes, that's what I'd recommend. For ASP.NET since there is no main thread, you should probably instantiate the `JoinableTaskContext` after being sure to clear the `SynchronizationContext.Current` value so it understands there is no ma

[2019-03-23 14:51] #473 closed

[2019-03-23 16:58] gregpakes commented on #473
Would you recommend that I give up trying to use this in Asp.Net and come up with alternative solutions?

[2019-03-23 17:29] AArnott commented on #473
I would recommend you stop synchronously blocking and use async throughout. If you can't do that, I would probably use Task.Wait() in an ASP.NET application. And if that deadlocks, then I would turn to JTF.

[2019-03-23 18:38] gregpakes commented on #473
Thanks - there are some areas where it’s pretty hard to write out the sync code, so I turned to JTF.

Thanks for the information and the help.

[2019-03-29 04:55] gregpakes commented on #473
@AArnott

I just wanted to let you know what the blocker for us was with moving to 16.x as I have encountered it again.

We get the following exception when running AspNet_Merge.exe as a part of our deployment process:

[code]

Our project is targeting .Net 4.6.

[2019-04-02 14:40] sharwell opened #475 "NoMainThreadDependencyAttribute"
#### Is your feature request related to a problem? Please describe.

JTF (and its overhead) can be avoided when joining tasks started in an unknown context if the code is known to not have any dependencies on the main thread. Currently there is no way to document or validate these expectations.

#### Describe the solution you'd like

It should be possible to apply an attribute, e.g. `[NoMainThread

[2019-04-08 21:40] AArnott commented on #469
VSTHRD100 was coded up explicitly to allow async event handlers.

https://github.com/Microsoft/vs-threading/blob/bd4273591de8836409bb58b490ef041f727adaf6/src/Microsoft.VisualStudio.Threading.Analyzers/VSTHRD100AsyncVoidMethodAnalyzer.cs#L70-L75

I think they're still evil and should be avoided. Event handlers that throw may crash the process whether they are async or not, but their completion cann

[2019-04-08 21:43] AArnott commented on #447
This issue tracks exactly the opposite desired behavior as #469.

[2019-04-08 21:45] AArnott commented on #447
@fahadabdulaziz Can you elaborate on why you feel async void is _not_ evil when used for event handlers?

[2019-04-09 01:19] fahadabdulaziz commented on #447
Because async Task is not accepted as event handlers :-)

Method:
[code]
will not be accepted as event handler

[2019-04-09 01:40] AArnott commented on #447
True, but the recommended pattern is:

[code]

This is preferable both because exceptions won't crash the app and (more particularly) [the app won't close in the middle of an async event handler](https://github.com/Microsoft/vs-threading/blob/master/doc/cookbook_vs.md#how-to-write-a-fire-and-forget-method-responsibly) (that might be saving a file, for example).

[2019-04-09 23:38] fahadabdulaziz commented on #447
This pattern will not work with WinForms designer

[2019-04-09 23:50] sharwell commented on #447
@fahadabdulaziz How did you get the WinForms designer to generate an async event handler? I did not realize that was a feature and can't figure out how to trigger it.

[2019-04-09 23:52] fahadabdulaziz commented on #447
I meant this part, it could not be generated by WinFroms:
[code]

[2019-04-09 23:53] sharwell commented on #447
@fahadabdulaziz Thanks, I updated my previous comment to show what the recommended pattern looks like with WinForms.

[2019-04-10 00:03] fahadabdulaziz commented on #447
That would work perfect

[2019-04-10 00:15] #447 closed

[2019-04-10 04:33] #469 closed

[2019-05-09 23:40] AArnott opened #482 "Unstable test: JoinAsyncShouldCompleteWithoutUIThreadAfterTaskCompletes"
#481 failed its build validation twice before finally passing due to this test failing.

[code]

[2019-05-10 16:22] AArnott opened #483 "v16.0 threading package should depend on analyzer package"
The v16.0 threading package regressed from 15.8 in that it no longer depends on the analyzer package so that that is automatically brought in.

[2019-05-10 16:47] AArnott commented on #483
This regressed in a5297b513ef1f07869f3d23c24f9aba22fc9dd26

[2019-05-15 16:48] AArnott commented on #471
The only way to get analyzers to run on every project regardless of have a `PackageReference` in the project or an imported file would be to have a VSIX installed in VS to add the analyzers.

[2019-05-15 16:48] #471 closed

[2019-05-16 12:59] AArnott opened #485 "Trailing period in vs-threading.MembersRequiringMainThread.txt causes compiler hang"
#### Bug description
The compiler entered a CPU intensive hang due to the `ReadTypesAndMembers` method in the vs-threading analyzers.

#### Repro steps
Add the content below to a file named `vs-threading.MembersRequiringMainThread.txt` that is supplied as an "AdditionalFile" to the compiler while the vs-threading analyzers are running on a project. Note the trailing period on the last line.

[code

[2019-06-17 12:49] bordecal opened #488 "Avoid reporting VSTHRD200 violation for async Main method when using System.CommandLine.DragonFruit"
#### Is your feature request related to a problem? Please describe.
When using [`System.CommandLine.DragonFruit`](https://github.com/dotnet/command-line-api/wiki/DragonFruit-overview), a violation of VSTHRD200 is currently reported for an `async Task Main(...)` method with named arguments.  This appears to be due to the fact that this form of `Main` method is not identified as the entry point in t

[2019-06-18 17:45] AArnott opened #489 "Move cookbook_vs.md to docs.microsoft.com"
We should move our [cookbook_vs.md](https://github.com/microsoft/vs-threading/blob/master/doc/cookbook_vs.md) to relevant topic(s) on docs.microsoft.com.

As part of the migration at least [this page on docs.microsoft.com](https://docs.microsoft.com/en-us/visualstudio/extensibility/managing-multiple-threads-in-managed-code?view=vs-2019) should be updated.

[2019-06-20 00:19] AArnott opened #490 "ProgressWithCompletion<T> needs better SynchronizationContext handling"
The `ProgressWithCompletion<T>` class always captures `SynchronizationContext.Current` and invokes handlers on it. These handlers are allowed to be async. It also offers a `WaitAsync` method which waits for those tasks to complete. Yet the type is not JTF-aware and doesn't follow the 3rd threading rule.

While this type may have been infrequently used in the past, LSP in VS is likely to use it in

[2019-06-21 15:38] #490 closed

[2019-06-28 00:47] jasonmalinowski opened #496 "!dumpasync simply gives an error right away"
I loaded AsyncDebugTools.dll into a WinDBG session trying to diagnose an async hang, and when running `!dumpasync` I just get:

    Failed to parse the output of !name2ee:

and absolutely nothing else happens. No further error message is shown either -- I suspect something was supposed to appear after the colon in the message but it's not.

- Version used: 15.8.168+g9c5efca7b3.RR
- Application (if

[2019-06-28 13:38] AArnott commented on #496
That's because the current source code in this repo is based on parsing command output and if it's not normal for some reason it throws us off. This can happen when it's not a heap dump, or you're missing SOS or symbols can't load, or a variety of other things.
We have a newer version of !dumpasync that I'd love for you to try. We're planning to replace the current implementation in this repo with

[2019-07-19 11:57] iron9light opened #498 "What's the default severity of each rules?"
Where can I find this info?

[2019-07-19 13:13] AArnott commented on #498
The analyzer rules are documented [here](https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/index.md).

What do you mean by "default action"? Are you talking about their code fixes?

[2019-07-19 14:47] iron9light commented on #498
No, I mean actions like: Error, Warning, None, Suggestion etc.
https://github.com/dotnet/roslyn-analyzers/wiki#severity-levels-for-analyzers

[2019-07-19 14:49] AArnott commented on #498
Ah, default severity levels then. I agree that would be good to document. But I'm curious why not install the package and customize the severity if necessary? How does knowing their severity in advance help you?

[2019-07-19 14:54] iron9light commented on #498
I think most one, like me, just add the Analyzer and see if there's any error to fix.
They can fix the issues or disable some rules.
But if some rules are disabled by default, e.g. VSTHRD111, they don't even be aware of this rule.
Maybe they will enable it if know that the rule is disabled by default.

[2019-07-19 15:38] AArnott commented on #498
Thanks for the insight into what you're doing. I'll keep this issue active to track documenting the default severity.

[2019-07-23 22:29] AArnott opened #499 "Tests hang on .NET Core"
The tests hang on .NET Core 2.1.

Re-enable testing in testfx.yml and investigate and fix hangs.

[2019-07-29 18:25] AArnott commented on #498
Closed by 3304714fc983bdde524a2b7ff0b1dd051d63bb06

[2019-07-29 18:25] #498 closed

[2019-08-06 16:55] slav commented on #496
@AArnott - how do we get the new version to try?

[2019-08-07 01:51] AArnott commented on #496
It's not available publicly yet. Hopefully soon.

[2019-08-09 07:44] HeikoAdams opened #501 "Building projects targeting .net 4.8 fails"
#### Bug description
When using the current version 16.3.13 localy building projects targeting .net framework 4.8 raises a lot of warnings:
"IDE1003	Die Analysetoolassembly "C:\Users\h.adams\.nuget\packages\microsoft.visualstudio.threading.analyzers\16.3.13\analyzers\cs\Microsoft.VisualStudio.Threading.Analyzers.CodeFixes.dll" hängt von "netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToke

[2019-08-13 07:03] yhvicey commented on #431
Any update?

[2019-08-19 16:15] AArnott opened #502 "AsyncSemaphore/ReentrantSemaphore should guarantee FIFO queue behavior"
The `SemaphoreSlim` class on which `AsyncSemaphore` and `ReentrantSemaphore` are internally based does not guarantee FIFO ordering.

As this FIFO behavior has been assumed to be present for a while, we ought to actually deliver on that.

[2019-08-23 03:33] davkean opened #504 "VSTHRD003 - UseJtfRunAsyncAnalyzer crashes on member that returns a cached task"
#### Repro steps
VS Version: 16.3.0 Preview 3.0 [29221.207.master]
Analyzer version: 16.0.102.

Source code: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Build/LanguageServiceErrorListProvider.cs#L79.

[code]

[2019-08-24 16:33] AArnott commented on #504
Duplicate of #472

[2019-08-24 16:33] #504 closed

[2019-09-01 14:54] mavasani opened #508 "Memory leak from VS Threading analyzers from DiagnosticAnalyzerBase.customAwaitableTypes"
#### Bug description
While investigating memory leak from https://github.com/dotnet/roslyn/issues/38330, I found out that the VS Threading analyzers package has a concurrent dictionary keyed on `ITypeSymbol` as a private field for all its analyzers, which is causing it to hold onto the symbols/compilation and this leads to Solution instances to leak and continuous increasing memory usage:
https://

[2019-09-01 18:26] AArnott commented on #508
Thanks for reporting, @mavasani. I'm confused by the analyzer's lifecycle. I've heard conflicted reports on this. Where is the documentation for when analyzers are instantiated and released?

[2019-09-02 01:35] mavasani commented on #508
Tagging @heejaechang. I believe originally the analyzers from NuGet packages were never used past a single compilation, but this seems to be no longer true in IDE analysis. Heejae are we using the analyzer instances across compilations? I believe that is also the likely cause of the performance regression in FxCop analyzers package noted in https://github.com/dotnet/roslyn/issues/38330. Note that

[2019-09-02 02:57] AArnott commented on #508
Thanks. I used to assume that and not store anything in fields of analyzer classes, and instead let it all be stored in closures for individual registrations. But someone since then (@sharwell, perhaps) advised me that analyzers don't live beyond one compilation so I shifted to use fields, which was simpler.

I believe the lifecycle should be very clearly defined. I can't see a defined behavior in

[2019-09-02 03:32] sharwell commented on #508
The semantics I understood is you can create a Compilation Start callback, and within that callback create an instance which will hold state for the compilation. That instance will not be reused across compilations because the next compilation will call Compilation Start again. State can be stored in fields only when those fields are members of the instance created by a Compilation Start callback

[2019-09-02 03:51] mavasani commented on #508
@sharwell is correct. You can use the [TryGetValue](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs,584) API on the compilation start analysis context to store compilation wide state per syntax tree or source text, without recomputation cost. However, if the underlying [value provider](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyze

[2019-09-02 04:06] sharwell commented on #508
StyleCop Analyzers is relatively heavily optimized for cases where the instances are reused.

[2019-09-02 10:33] DrGriff opened #510 "VSTHRD100 Avoid async void methods - false positive if event handler"
#### Bug description
Getting a compile error for an asynchronous event handler.  In this case, async void is acceptable

#### Repro steps
Add an async event handler which returns async task.

#### Expected behavior
Not to warn about event handlers

#### Actual behavior
Gives warning

- Version used: Visual Studio 2019
- Application (if applicable):

#### Additional context
Not clear how I can supp

[2019-09-02 11:25] weltkante commented on #510
I disagree, `async void` is a problem because uncaught exceptions will tear down the process by default, we disallow them on events as well (but provide our own utility methods in case the event wants to kick off something async).

adding a `[SuppressMessage("", "VSTHRD100")]` attribute to the event handler is probably the cleanest solution

[2019-09-02 12:44] AArnott commented on #508
Very well, I'll make adjustment here. Thanks.

[2019-09-02 13:04] AArnott commented on #510
Just a nit, but the GC doesn't kill the process. What happens is the C# compiler's async void wrapper will rethrow the exception on `SynchronizationContext.Current`. Most sync contexts are implemented to crash when any delegate they invoke throws an unhandled exception. And if you have no sync context, it is thrown on the threadpool, which always crashes the process as well.

[2019-09-02 13:04] AArnott commented on #510
Duplicate of #447

[2019-09-02 13:04] #510 closed

[2019-09-02 15:29] AArnott commented on #499
`StaFact` isn't running at all either (not discovered on linux).

[2019-09-03 21:29] AArnott opened #512 "NoMessagePumpSyncContext.Wait fails on .NET Core on non-Windows OSs"
Any use of `NoMessagePumpSyncContext.Wait` causes an exception to be thrown when not on Windows:

   at Microsoft.VisualStudio.Threading.NativeMethods.WaitForMultipleObjects(UInt32 handleCount, IntPtr[] waitHandles, Boolean waitAll, UInt32 millisecondsTimeout)
   at Microsoft.VisualStudio.Threading.NoMessagePumpSyncContext.Wait(IntPtr[] waitHandles, Boolean waitAll, Int32 millisecondsTimeout)

[2019-09-04 14:03] #508 closed

[2019-09-04 21:14] AArnott opened #515 "Fix mem leak test"
https://github.com/microsoft/vs-threading/blob/83b6359a3cfb4ae8fd797d0cf1f85612213f9ded/src/Microsoft.VisualStudio.Threading.Tests/JoinableTaskTests.cs#L3766

[2019-09-04 22:42] #512 closed

[2019-09-11 09:52] RehanSaeed opened #517 "Merging Analyzers with Microsoft.CodeAnalysis.FxCopAnalyzers"
#### Is your feature request related to a problem? Please describe.
The `Microsoft.CodeAnalysis.FxCopAnalyzers` NuGet package also has an analyzer to check that you are using `ConfigureAwait(false)`, so there is some overlap. Perhaps these two packages could be merged? `Microsoft.CodeAnalysis.FxCopAnalyzers` already covers a lot of different areas of code and is more well known, so the if a merge

[2019-09-11 15:07] AArnott commented on #517
We are exploring this already. I'm glad to hear some validation from the community. 😊

[2019-09-17 19:48] AArnott opened #518 "Analyzer proposal: remove redundant state machine"
Call out where an async state machine is redundant:

[code]

So long as `SomethingElseAsync()` returns the same type as the caller, you can abbreviate to:

[code]

Above is *almost* equivalent, but it doesn't guarantee exceptions are caught and returned as exceptions, so strictly speaking this is more equivalent:

[code]

Cases that can*not* be simplified include;
1. more than one await
1. The awa

[2019-09-17 19:52] mavasani commented on #518
Probably should offer 2 code fixes, with an additional comment around the try-catch for the more complex code fix?

[2019-09-17 23:34] drewnoakes commented on #518
I generally make this change manually and would appreciate the analyzer, but we should be aware that it changes the debugging experience by removing `DoSomethingAsync` from the call stack when the program is executing a continuation in `SomethingElseAsync`.

[2019-09-20 14:08] AArnott opened #521 "AsyncSemaphore can let too many callers enter when requests are cancelled"
#### Bug description

Thread 1 is canceled while waiting to enter the semaphore, but so soon after it asks for the semaphore that the waitTask is completed by the time we check it (before we yield). Thread 1 is now "in" the semaphore but isn't accounted as such. This immediately would let one more thread in concurrently. And when thread 1 exits the semaphore, it will release it, leading to the sem

[2019-09-20 15:47] #521 closed

[2019-10-02 12:50] HeikoAdams commented on #501
Any progress on this issue?

[2019-10-02 14:19] AArnott commented on #501
It doesn't repro for me. Here's what I tried. What are you using? Can you share a repro?

[ClassLibrary1.zip](https://github.com/microsoft/vs-threading/files/3681560/ClassLibrary1.zip)

[2019-10-02 18:34] CyrusNajmabadi commented on #521
I am hitting this non-stop.  Can we get this in the next preview?

[2019-10-02 18:52] AArnott commented on #521
Yes: it's already in Preview 2. And we're servicing 16.3 as well.

[2019-10-02 18:55] CyrusNajmabadi commented on #521
@aarnott.  Great!  Any news on when that will release?  For example, will it be this week?  I was hoping to get a bunch of work done then, but this is totally blocking things :(

[2019-10-02 19:01] AArnott commented on #521
I don't know when either will be released.

Given you're in a pinch and it's impacting you severely, here's a workaround: you can patch it manually:
Download the v16.3.59 package [from NuGet](https://www.nuget.org/packages/microsoft.visualstudio.threading) and copy the `lib\net472\Microsoft.VisualStudio.Threading.dll` file to
`Common7\ide\PublicAssemblies\Microsoft.VisualStudio.Threading.16.0`

Th

[2019-10-02 19:02] CyrusNajmabadi commented on #521
oh thank you! :)

[2019-10-04 09:17] HeikoAdams commented on #501
Even with the latest release the build fail.s for me.
I'll attach the azure devops server 2019.1 build logs. Maybe they help.
[logs_3807.zip](https://github.com/microsoft/vs-threading/files/3689820/logs_3807.zip)

[2019-10-04 13:07] AArnott commented on #501
Thanks for the logs.
The failure in the logs is not the same one you shared originally. Instead of complaining about netstandard.dll it's complaining about System.Runtime.CompilerServices.Unsafe.dll.

I see the failure is not in compilation but in the sgen.exe tool. I don't have any experience recently with this tool, but I strongly suspect the problem is close to what you originally shared, where

[2019-10-07 05:56] HeikoAdams commented on #501
After updating Microsoft.VisualStudio.Threading to the latest version **every** project of my solution got that lines injected:
`      "System.Runtime.CompilerServices.Unsafe/4.5.2": {
        "type": "package",
        "compile": {
          "ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll": {}
        },
        "runtime": {
          "lib/netstandard2.0/System.Runtime.CompilerServ

[2019-10-07 13:29] AArnott commented on #501
Your original report was talking about the Microsoft.VisualStudio.Threading.*Analyzers* package, which doesn't have the dependency on `System.Runtime.CompilerServices.Unsafe`. But certainly if you're talking about the Microsoft.VisualStudio.Threading package, yes that brings in a few dependencies. If you're targeting net48 then netstandard2.0 wouldn't have as much to do with it (directly anyway) s

[2019-10-08 01:46] AArnott commented on #394
Revising no. 2 above consistent with an offline conversation that IIRC @sharwell and I had a while back:

Passing `CancellationToken.None` still gets flagged. If a method passes "the point of no cancellation" it should assign a default token to the `cancellationToken` local variable and continue to pass that to all async methods.

[2019-10-08 05:56] HeikoAdams commented on #501
But why claims the compiler (local and buildsystem) a missing **netstandard 2.0** assembly but my projects are targeting **net48**? This happens with every version > 16.0.102

[2019-10-08 14:11] AArnott commented on #501
Because sgen.exe wants to see every single assembly (transitive closure of dependencies). Some assemblies that you reference transitively include those that reference netstandard.dll. sgen.exe wants to know where it is.
It doesn't matter that you target net48 -- net48 supports netstandard2.0 and some assemblies you're using targeted that.

[2019-10-09 19:33] AArnott opened #526 "DelegatingJoinableTaskFactoryTests.DelegatingFactory crashes test runner"
From [this build](https://dev.azure.com/azure-public/vside/_build/results?buildId=7471&view=results) of b5bd220e2cd8e41f7daeb0626146bdda79a77356, after many tests passed, the .NET Core 2.1 built test project, run on .NET Core 2.2, the test host crashed with this:

[code]

No product bug here. It's just that a test was trying to write to a log after the test completed. We should find which test tha

[2019-10-10 23:28] AArnott opened #529 "Unstable test: ToTaskOnHandleSignaledAfterNonZeroTimeout"
In [this build](https://dev.azure.com/azure-public/vside/_build/results?buildId=7484&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=1fe6a80f-c499-5c44-93a4-d7854bf81728&l=337)

[code]

[2019-10-10 23:39] AArnott opened #530 "Unstable test: NoLeakForContestedRequests_ThatAreCanceled"
The test failed in [this build](https://dev.azure.com/azure-public/vside/_build/results?buildId=7485&view=ms.vss-test-web.build-test-results-tab&runId=1010830&resultId=100279&paneView=debug):

[code]

[2019-10-11 00:15] AArnott commented on #530
and [failed again](https://dev.azure.com/azure-public/vside/_build/results?buildId=7488&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=1fe6a80f-c499-5c44-93a4-d7854bf81728&l=376)

[2019-10-11 13:31] AArnott commented on #529
and [this build](https://dev.azure.com/azure-public/vside/_build/results?buildId=7496&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=1fe6a80f-c499-5c44-93a4-d7854bf81728&l=321)

[2019-10-16 00:12] drewnoakes commented on #496
This appears to be released now. @AArnott is the latest version the one you're referring to above?

[2019-10-16 01:02] AArnott commented on #496
Yes